/** start table preview **/

.mstrmojo-Architect-TablePreview {
  .mstrmojo-DataRow {
    height: 15px;
  }
  .mstrmojo-DataRow-text {
    margin-left: 5px;
  }
}

.mstrmojo-Architect-TablePreviewGridBox {
  max-width: 1000px;
  overflow: auto;
}

/** end table preview **/