/* Start TableView */

.mstrmojo-ar-TableView {
  position: absolute;
  border: 1px solid transparent;
  padding: 1px;
  -webkit-transition: margin 200ms;
  &.dragging {
    z-index: 10000 !important;
  }
  &.selected {
    border-color: #DDD;
    background: #FFF;
    border-radius: 4px;
    .mstrmojo-ar-tv-header:after {
      height: 0;
      width: 0;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      border: 5px solid;
      border-color: orange orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      overflow: hidden;
    }
  }
  .mstrmojo-ar-tv-header.item {
    line-height: 20px;
    font-weight: bold;
    padding: 3px;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%, #efefef 100%);
    /* W3C */
    position: relative;
    overflow: hidden;
    border: 1px solid #DDD;
    border-radius: 4px 4px 0 0;
  }
}

.mstrmojo-ar-tv-header.item:hover .item-mn {
  top: 4px;
}

.mstrmojo-ar-TableView {
  .mstrmojo-SimpleTree {
    overflow: hidden;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: 0;
    &:hover {
      overflow: auto;
    }
    li {
      padding-left: 18px;
      line-height: 21px;
    }
  }
  .item {
    border-bottom: 1px solid transparent;
    overflow: hidden;
    position: relative;
    &.tp26 .item-ic {
      background-position: left -147px;
    }
    &:hover {
      background-color: #FAFAFA;
    }
  }
  li:last-child .item:hover .item-mn {
    right: 12px;
  }
  .item-n {
    line-height: 14px;
  }
}

.mstrmojo-ar-tv-rsz {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background: none;
  z-index: 1;
  border-color: transparent #666 #666 transparent;
  border-style: solid;
  border-width: 7px;
  opacity: 0.3;
  transition: opacity 300ms;
  &:hover {
    cursor: nw-resize;
    opacity: 1;
  }
}

.mstrmojo-ar-TableView.hasOwnAvatar {
  position: absolute;
  padding: 0 0 0 0;
  border: 1px solid #B6B6B6;
  background: #F3F3F3;
  margin: 2px;
  opacity: 0.6;
  > li {
    background: none;
    padding: 0 5px;
  }
  li {
    .item-mn, ul {
      display: none;
    }
  }
  &.enabled > div:last-child {
    display: none;
  }
}

/* End TableView */