@import '../vi-global';

/** BEGIN: DockedPanel **/
.mstrmojo-VIPanel {
  border-radius: 2px;
  position: relative;

  .mstrmojo-VIPanel-content {
    position: relative;
  }

  .mstrmojo-VIPanel-handle {
    display: none;
  }

  .hover-menu-btn {
    background: transparent url(#{$vi-img-path}/menu-overlay.png) top right no-repeat;
    height: 19px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: opacity 200ms;
    width: 19px;
    z-index: 2;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
  }

  .hover-menu-btn.visible {
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
  }
}
/** END: DockedPanel **/