@import '../../_global.scss';

%dots-for-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mstrmojo-VIGroupDEList {
    overflow: hidden;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;

.list-content {
        background-color: #FFFFFF;
        height: 311px;
    }
.items-container {
        width: 524px;
    }

    // overwrite the default z-index so it doesn't bleed through to Derived Elements Panel
.mstrmojo-scrolltrack {
        z-index: 0;
    }
}

.mstrmojo-VIGroupDERow.top {
    border-top-color: #32B4F4;
}

.mstrmojo-VIGroupDERow.bottom {
    border-bottom-color: #32B4F4;
}

.mstrmojo-VIGroupDERow {
    border-top: solid 1px #FFFFFF;
    box-sizing: border-box;
    border-bottom: solid 1px #C5C5C5;
    line-height: 29px;
> div > div {
        float: left;
    }

.group-column {
        width: 240px;
    .name {
        @extend %dots-for-overflow;
                         float: left;
            padding-top: 2px;
            max-width: 200px;
        }
    .draggable-icon {
            background: url(#{$mojo-img-path}/drag_icon.png) no-repeat 0 0;
            width: 9px;
            height: 9px;
            float: left;
            margin: 1em 18px 1em 9px;
        }
    }

.mstrmojo-group-list {
    @extend %dots-for-overflow;
                     float: left;
        padding: 2px 1px 1px 1px;
        height: 31px;
        width: 200px;
    }


.mstrmojo-group-delete {
        width: 9px;
    height: 9px;
    background: url(#{$mojo-img-path}/d1.png) no-repeat 0 0;
    float: right;
    margin: 1em;
&:hover {
        background: url(#{$mojo-img-path}/d2.png) no-repeat 0 0;
    }
}
}

.mstrmojo-VIGroupDERow.others {
.mstrmojo-group-delete {
        display: none;
}
}

.mstrmojo-VIGroupDERow.list {
.name {
        color: #444649;
        cursor: pointer;
    &:hover {
            text-decoration: underline;
        }
    }
}

.mstrmojo-VIGroupDERow.calculation {
    cursor: default;
.mstrmojo-group-list {
    @extend %dots-for-overflow;
        color: #a6a6a6;
    }
}

.group-DE-drag-avatar {
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    z-index: 10000 !important;
    overflow: hidden;
    width: 429px;
    opacity: 1;

    .mstrmojo-group-list {
        // reduce the width to match the overall width reduction (so we don't drop to the second line)
        width: 150px;
    }
}
