@import '../vi-global';

/** BEGIN: Page By Panel **/
.mstrmojo-VIPageByStack {
    background: #E5E5E5;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    position: absolute;

    &.animate,
    &.animate * {
        @include single-transition(all, 200ms, ease-out, 0);
    }

    & > DIV {
        float: left;
    }

    .mstrmojo-VIPageByStack-Values {
        position: relative;
    }

    .mstrmojo-VIToolbar {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &:hover .mstrmojo-VIToolbar {
        opacity: 1;
    }

    .mstrmojo-VIDND-mask {
        border-color: #34ABEB;

        &.masked {
            border-color: transparent;
        }
    }

    .mstrmojo-DropDownList {
        margin-top: 5px;
    }

    .vi-DocSelector {
        margin: 12px 9px;

        .mstrmojo-ui-Pulldown {
            max-width: 200px;
            min-width: 130px;
        }

        .mstrmojo-VISlider {
            .sl-control {
                height: 11px;

                .mstrmojo-Label {
                    line-height: 10px;
                }
            }

            .cont {
                height: 15px;
                top: -2px;
            }
        }
    }
}

.mstrmojo-VIPageByPanel .mstrmojo-DocSelector-DropDownList-select {
    height: 100%;
}

.mojo-theme-dark {
    .mstrmojo-VIPageByStack {
        @include box-shadow(rgba(0,0,0,0.52), 0, 0, 4px);

        background-color: #353638;
        border-color: #4b5067;
    }
}
/** END: Page By Panel **/