@import '../../../vi/vi-global';

/** BEGIN: ColorPickerButton **/
.mstrmojo-ColorPickerBtn {
  z-index: 1000;
}

.mstrmojo-ui-PreviewButton {
    &.mstrmojo-ColorPickerBtn {
        .preview {
            border: 2px solid transparent;

            &.conflict {
                background: #FFFFFF url(#{$vi-img-path}/question_mark.png) 50% 50% no-repeat;
            }
        }

        .cf {
            position: relative;
        }

        .slash {
            background-color: RED;
            height: 1px;
            position: absolute;
        }

        .mstrmojo-ui-AdvColorPicker {
            margin-top: 3px;
        }
    }
}

.mstrmojo-ui-PreviewButton {
    &.mstrmojo-ColorPickerBtn {
        &.disabled {
            .slash {
                // TQMS #984013: Don't show slash if control is disabled.
                display: none;
            }
        }
    }
}

/** END: ColorPickerButton **/
