@import "../../vi-global";
@import '../../themes';

.mstrmojo-VIFilterPanel {
    .mstrmojo-DocSubPanel-content .mstrmojo-VIPanelPortlet.showFPBorder {
        border: solid 1px #23A3D3;
        padding: 7px 8px;
    }

    .showSplitter {
      margin-left: -9px;
      opacity: 1.0;
      width: 100%;

      &.mojo-theme-light {
          @include box-shadow(#ffffff, 0, 1px, 0, true);
          background-color: #f2f2f2;
          border-top: 1px solid #ededed;
      }

      &.mojo-theme-dark {
        @include box-shadow(#3d3e42, 0, 1px, 0, true);
        background-color: #37383a;
        border-top: 1px solid #2b2b2e;
      }
    }
}
