@import '../../vi-global';
@import '../../themes';

.mstrmojo-ImageBoxOverlayEmbeded {
  width: 100%;
  height: 100%;
  color: #878788;

  .container-scroll-host {
    width: 100%;
    height: 100%;

    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .lbl {
        width: 30px;
        height: 30px;
        float: left;
        .mstrmojo-Label {
          $dimension: 15px;
          width: 30px;
          height: 30px;
          background: transparent url(#{$vi-img-path}/id_pic.png) $dimension $dimension no-repeat;
        }
      }

      .txt {
        position: relative;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        width: calc(100% - 200px);
        height: 22px;
        .init-input {
          @include box-sizing(border-box);
          resize: none;
          overflow: hidden;
          font-size: 8pt;
          width: 100%;
        }
      }

      .buttons {
        position: relative;
        width: 152px;
        height: 22px;
        float: right;
        margin-left: 8px;
        margin-top: 10px;

        .mstrmojo-imageBoxOverlayEmbeded-file {
          position: absolute;
          top: -10000px;
        }

        .browseBtnLabel {
          position: relative;
          display: inline-block;
          width: 68px;
          text-align: center;
        }

        .okBtn {
          position: relative;
          display: inline-block;
          width: 68px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
  }
}

.ctrlOverlay.or-v .mstrmojo-ImageBoxOverlayEmbeded {
  .container-scroll-host {
    .container {
      min-width: 160px;
      min-height: 76px;
      .txt {
        min-width: 120px;
        width: calc(100% - 48px);
      }
    }
  }
}