@import "../DI/DIClipboardImages";

.mstrmojo-di-clipboard{
  display: table;
  margin: 0 18px;
}

.mstrmojo-di-clipboard-label {
  font-family: verdana;
  font-size: 11pt;
  font-weight: bold;
  margin: 0px 18px;
  display: inherit;
}