.mstrmojo-di-dataset{
  margin-top: 50px;
}

.mstrmojo-di-dataset-title{
  font: 14px arial;
  font-weight: bold;
  width: 500px;
  height: 24px;
  margin: auto;
}

.mstrmojo-FileDragDropBox-radioList{
  width: 450px;
  margin: auto;
}
.mstrmojo-FileDragDropBox-radioList-item {
  margin: 10px 20px;
}