.mstrmojo-di-tree-node-file:hover .mstrmojo-di-ga-tree-node-edit-icon{
  background: url(images/DI/edit_query.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  position: relative;
  left: -71%;
  cursor: pointer;
}