.mstrmojo-di-multiformeditor {
  z-index: 1000;
}

.mstrmojo-di-multiformeditor-attributeName {
  width: 250px;
}

.mstrmojo-di-multiformeditor-attributeNameContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 408px;

  .new-attribute-Label {
    background-image: url(images/DI/icon_att.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    font-family: Arial;
    width: 100px;
  }
}

.mstrmojo-di-multiformeditor-descriptionLabel {
  margin-bottom: 10px;
}

.mstrmojo-di-multiformeditor-boxContainer {
  .mstrmojo-di-multiformeditor-tablePulldown {
    width: 150px;
    margin-bottom: 30px;
  }
}


.mstrmojo-di-multiformeditor-formMapsList {
  @include scrollBar();
  margin-bottom: 10px;
  height: 155px;
  width: 460px;
  overflow: auto;
  overflow-x: hidden;
  border-top: 1px solid $divider-line-light;
  padding-top: 9px;

  .mstrmojo-Editor-close {
    padding-right: 40px;
    background: url(vi/images/menu_icons.png) no-repeat -9px 4px !important;
  }

  .mstrmojo-Label{
    font-family: arial;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mstrmojo-DropDownButton {
    width: 130px;
    margin-bottom: 5px;
  }
  .mstrmojo-ui-Checkbox {
    margin-left: 20px;
  }
}

.mstrmojo-di-multiformeditor-formMapsListHeader {
  border-bottom: 1px solid $divider-line-dark;
}

.mstrmojo-di-multiformeditor-formMapsListHeader-formName {
  width: 205px;
}

.mstrmojo-di-multiformeditor-formMapsListHeader-formCategory {
  font-weight: bold;
  width: 152px;
  margin-bottom: 9px;
  font-family: arial;
}

.mstrmojo-di-multiformeditor-formMapsListHeader-displayForm {
  font-weight: bold;
  width: 84px;
  margin-bottom: 9px;
  font-family: arial;
}

.mstrmojo-di-tree-node-dnd {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
