.di-connector-right-panel .mstrmojo-di-fileHolder.drag-drop-box-dnd.dragging {
  border: 1px solid #34abeb;
}

.di-connector-right-panel .mstrmojo-di-fileHolder.drag-drop-box-dnd.solid.dragging {
  border: 1px solid #34abeb;
}

.di-connector-right-panel .mstrmojo-di-fileHolder.drag-drop-box-dnd.solid {
  border: 1px solid #b5b5b5;
}