.mstrmojo-DataGrid-headerTable td {
  padding-right: 4px;
  border-right: 1px solid #cbcbcb;
  background-color: #e5e5e5;
  //@include linear-gradient($preiviewHeaderStart, $preiviewHeaderEnd);
}