//------------------------Data Import sources list styles ------------------------

.sourceListContainer {
    float:left;
    width:408px;
    border-right:2px solid gray;
    display:none;
}

.sourceContentContainer {
    float:left;
}

.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img img{display:block;}
