/* line 538, medium/*.png */
.medium-sprite, .medium-CreateAnalysis, .medium-CreateDocument, .medium-CreateReport, .medium-Wrench, .medium-analytics, .medium-analytics_disable, .medium-clipboard, .medium-database, .medium-database2, .medium-database_disabled, .medium-dropbox-icon, .medium-dropbox, .medium-dropbox_disable, .medium-ds_bi_tools, .medium-ds_clipboard, .medium-ds_cloud, .medium-ds_database, .medium-ds_disk, .medium-ds_drive, .medium-ds_dropbox, .medium-ds_facebook, .medium-ds_olap, .medium-ds_sample, .medium-ds_search, .medium-ds_suggest, .medium-ds_twitter, .medium-ds_url, .medium-eloqua, .medium-facebook, .medium-file-sample, .medium-file, .medium-file_disable, .medium-gdrive, .medium-gdrive_disable, .medium-google-bigquery, .medium-google-bigquery_disable, .medium-hadoop, .medium-logo_apple, .medium-logo_windows, .medium-ms-dynamics, .medium-mstr-file, .medium-mstr-object, .medium-netsuit, .medium-new-mstr-object, .medium-oracle, .medium-salesforce, .medium-salesforce_disable, .medium-script-editor, .medium-send-a-suggest-with-border, .medium-sugar-crm, .medium-suggest-a-source, .medium-twitter, .medium-worksheet, .medium-zendesk {
  background: url('images/DI/medium-s0fdb26b239.png') no-repeat;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-CreateAnalysis {
  background-position: 0 -1933px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-CreateDocument {
  background-position: 0 -2167px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-CreateReport {
  background-position: 0 -2393px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-Wrench {
  background-position: 0 -315px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-analytics {
  background-position: 0 -437px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-analytics_disable {
  background-position: 0 -701px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-clipboard {
  background-position: 0 -3637px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-clipboard:hover, .medium-clipboard.clipboard_hover, .medium-clipboard.clipboard-hover {
  background-position: 0 -3717px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-database {
  background-position: 0 -2829px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-database:hover, .medium-database.database_hover, .medium-database.database-hover {
  background-position: 0 -2909px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-database2 {
  background-position: 0 -2669px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-database2:hover, .medium-database2.database2_hover, .medium-database2.database2-hover {
  background-position: 0 -2749px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-database_disabled {
  background-position: 0 -4133px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-dropbox-icon {
  background-position: 0 -368px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-dropbox {
  background-position: 0 -3309px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-dropbox:hover, .medium-dropbox.dropbox_hover, .medium-dropbox.dropbox-hover {
  background-position: 0 -3389px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-dropbox_disable {
  background-position: 0 -789px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_bi_tools {
  background-position: 0 -4461px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_clipboard {
  background-position: 0 -5021px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_cloud {
  background-position: 0 -4621px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_database {
  background-position: 0 -4541px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_disk {
  background-position: 0 -4861px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_drive {
  background-position: 0 -1999px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_dropbox {
  background-position: 0 -4053px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_facebook {
  background-position: 0 -4701px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_olap {
  background-position: 0 -4301px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_sample {
  background-position: 0 -4941px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_search {
  background-position: 0 -4381px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_suggest {
  background-position: 0 -5101px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_twitter {
  background-position: 0 -4221px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ds_url {
  background-position: 0 -4781px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-eloqua {
  background-position: 0 -965px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-facebook {
  background-position: 0 -1757px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-file-sample {
  background-position: 0 -2989px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-file-sample:hover, .medium-file-sample.file-sample_hover, .medium-file-sample.file-sample-hover {
  background-position: 0 -3229px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-file {
  background-position: 0 -3469px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-file:hover, .medium-file.file_hover, .medium-file.file-hover {
  background-position: 0 -3797px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-file_disable {
  background-position: 0 -3549px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-gdrive {
  background-position: 0 -1053px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-gdrive_disable {
  background-position: 0 -1229px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-google-bigquery {
  background-position: 0 -1405px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-google-bigquery_disable {
  background-position: 0 -1317px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-hadoop {
  background-position: 0 -230px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-logo_apple {
  background-position: 0 -115px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-logo_windows {
  background-position: 0 0;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-ms-dynamics {
  background-position: 0 -525px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-mstr-file {
  background-position: 0 -3965px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-mstr-object {
  background-position: 0 -2459px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-mstr-object:hover, .medium-mstr-object.mstr-object_hover, .medium-mstr-object.mstr-object-hover {
  background-position: 0 -2539px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-netsuit {
  background-position: 0 -1669px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-new-mstr-object {
  background-position: 0 -2313px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-new-mstr-object:hover, .medium-new-mstr-object.new-mstr-object_hover, .medium-new-mstr-object.new-mstr-object-hover {
  background-position: 0 -2233px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-oracle {
  background-position: 0 -1493px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-salesforce {
  background-position: 0 -613px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-salesforce_disable {
  background-position: 0 -877px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-script-editor {
  background-position: 0 -3069px;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-script-editor:hover, .medium-script-editor.script-editor_hover, .medium-script-editor.script-editor-hover {
  background-position: 0 -3149px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-send-a-suggest-with-border {
  background-position: 0 -2619px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-sugar-crm {
  background-position: 0 -1141px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-suggest-a-source {
  background-position: 0 -3877px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-twitter {
  background-position: 0 -2079px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-worksheet {
  background-position: 0 -1845px;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.medium-zendesk {
  background-position: 0 -1581px;
}
