/* HTML Elements
---------------------------------------------------------*/
* { margin:0; padding:0; }
body { font:75%/1.5em '돋움', 'Dotum'; color:#555; background:#fff; height:100%; *min-height:100%; }
html { height:100%; }
ul { list-style:none; }
a:link, a:visited, a:active { color:#3378bd; text-decoration:none; outline:none }
a:hover { text-decoration:underline; }
hr { display: none; }
h1 { font-size:1.2em; }
img { border:none; }
option { padding-right: 0.5em; }
legend { display:none; }
fieldset { border:none; }

.floatLeft { float:left !important; }
.floatRight { float:right !important; }
.textLeft { text-align:left !important; }
.textCenter { text-align:center !important; }
.textRight { text-align:right !important; }
.textVertical { writing-mode:tb-lr !important; letter-spacing:2px; height:200px; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform: rotate(90deg); }
.txtPoint { color:#e87b10; }
.txtPointS { color:#e87b10; font-weight:bold; }
.colorPoint { color:#ff9c00 !important; }
.colorPointS { color:#ff9c00; font-weight:bold; }
.colorBlue { color:#5f84c2; }
.colorTag, .colorTag a { color:#40aac8; }

.valign_top { vertical-align:top !important; }
.valign_middle { vertical-align:middle !important; }
.valign_bottom { vertical-align:bottom !important; }
.valign_baseline { vertical-align:baseline !important; }

.blockLeft { float:left; width:49%; }
.blockRight { float:right; width:49%; }
.blockLeft_fixed { position:absolute; top:20px; left:15px; width:164px; z-index:99; }
.blockRight_fixed { position:absolute; top:20px; right:15px; width:164px; z-index:99; }
.blockLeft_svs { position:absolute; top:20px; left:0; width:192px; z-index:99; }
.blockRight_svs { position:absolute; top:20px; right:0; width:192px; z-index:99; }
.blockCenter_svs { position:absolute; top:20px; left:0; width:100%; }
.blockCenter_svs_con { margin:0 202px; }

.clear { clear:both; *height:0; }
.none { display:none; }
.hidden { visibility:hidden; }
select { font-family:'돋움', 'Dotum', Tahoma; font-size:1em; padding:2px 1px; border:1px solid #a1afb8; vertical-align:middle; }
select.multi { height:auto; }
input.inputbox { font-family:'돋움', 'Dotum', Tahoma; font-size:1em; height:14px; line-height:14px; padding:2px 4px; border:1px solid #dfdfdf; vertical-align:middle; }
input.file { font-family:'돋움', 'Dotum', Tahoma; font-size:1em; line-height:14px; padding:2px 4px; vertical-align:middle; border:1px solid #dfdfdf;}
textarea { font-family:'돋움', 'Dotum', Tahoma; font-size:1em; line-height:14px; padding:2px 4px; border:1px solid #CCC; vertical-align:middle; }
.tabletext { font-family:'돋움', 'Dotum', Tahoma; font-size:1em; border:none; width:99.5%; }


.checkbox, .radio { margin:0 2px 1px; *margin:0 0 1px -4px; vertical-align:bottom; *vertical-align:middle;  }
#skipNavigation { position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; display:none; }
.contentIframe { margin:20px; min-width:400px; }

.blockBlank_5px { height:5px; }
.blockBlank_10px { height:10px; }
.blockBlank_20px { height:20px; }

.inline { display:inline !important; }
.display_block { display:block; }
.dotline_1 { height:1px; padding-top:8px; margin-bottom:10px; background:url(../images/common/dotline_1px.gif) repeat-x bottom; }
.dotline_2 { height:1px; padding-top:8px; margin-bottom:10px; border-bottom:1px dotted #ccc; }
.dateicon { cursor:pointer; vertical-align:middle; }
.pattern { background:url(../images/common/pattern.gif) repeat; }


/* Table 
---------------------------------------------------------*/
#Table { width:771px; margin:0; }
#Table_blockContainer { padding-top:0px; padding-left:10px; position:relative; width:100%; } 


/* tableTop
---------------------------------------------------------*/
.tableTop { margin-bottom:5px; *margin-bottom:3px; }
.tableTop h2 {background: url(../images/ic_arrow_01.gif) no-repeat 2px 4px; width:771px;height:25px;}
.tableTop h3 {width:771px;height:20px; font-size:12px; color:#0096e4; padding:15px 20px 0 0;}
.tableTop h2 p{font-size:12px; color:#0096e4; padding:3px 0 0 20px;}
.listInfo select { float:left; margin:5px 8px 0 0; width: 55px; }
.totalNum { float:left; color:#777; padding:7px 15px 0 0; }
.listView_1 ul { float:left; margin:2px 10px 0 0; }
.listView_1 li { float:left; padding:0 2px; }
.listView_2 { float:right; }
.listView_2 ul { float:left; padding-left:7px; margin-left:8px; background:url(../images/board/bar_gray_2.gif) no-repeat left 3px; *background:url(../images/board/bar_gray_2.gif) no-repeat left 4px; }
.listView_2 li { float:left; padding:0 2px; }
.tableSearch { float:right; }
.tableSearch input { padding:2px; vertical-align:middle; }
.tableSearch a, .search_inline a { vertical-align:middle; }
a.ic_search { display:inline-block; width:20px; height:19px; background:url(../images/board/ic_search.gif) no-repeat; }
a.ic_icon { display:inline-block; width:16px; height:16px; }
a.ic_search span { display:none; }
.tableSearchIn input { padding:2px; vertical-align:middle; }
.tableSearchIn img { vertical-align:middle; }
.subInfo { display:inline; margin-right:8px; }
.tablefunction .checkbox { vertical-align:middle; *margin:0 0 1px 0; }
.tableDescription { padding:5px 10px; margin-bottom:10px; color:#777; font-size:0.9em; background-color:#f1f1f1; }
.ic_desc { display:block; width:14px; height:14px; margin-top:2px; margin-right:5px; background:url(../images/board/ic_comment.png) no-repeat; }


/* listTable
---------------------------------------------------------*/
.blockListTable { position:relative; width:100%; min-width:400px; margin-bottom:10px; }
.blockListTable table { border-collapse:collapse; width:100%; table-layout:fixed; border-top:1px solid #D9D9D9; }
.blockListTable table caption {display:none; }
.blockListTable table th {border-bottom:1px solid #D9D9D9;background:#F6F7F8; white-space:nowrap; word-break:break-all; text-align:center; color:##4A4A4A; line-height:25px; }
.blockListTable table th a:link, .blockListTable table th a:visited, .blockListTable table th a:active { color:#1b4e6d; }
.blockListTable table th a:hover { color:#333; text-decoration:none; }
.blockListTable table td a:link, .blockListTable table td a:visited, .blockListTable table td a:active { color:#555; }
.blockListTable table td a:hover { text-decoration:none; color:#000; }
.blockListTable table td { border-bottom:1px solid #cecece; word-break:break-all; text-align:center; line-height:14px; padding:6px 5px 4px 5px; *padding:6px 5px 3px 5px; }
.blockListTable table td .button_s { margin:-4px 3px -3px 0px; }
.blockListTable table td .button_ic { margin:-4px 3px -3px 0; }
.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; }
.through { text-decoration:line-through; font-family:'돋움', 'Dotum'; }
.blockListTable table th .radio, .blockListTable table th .checkbox, .blockListTable table td .radio, .blockListTable table td .checkbox { *margin:-5px 0 0 0; }
.blockListTable table td .inputbox { margin:-3px 0 -2px; *margin:-4px 0 -3px; }
.blockListTable tr:hover { background-color: #ebeff1;}
.blockListTable .row1 { background-color: #fff; }
.blockListTable .row2 { background-color: #f7f7f7; }
.blockListTable .bgSelected { background-color: #ebeff1; }
.blockListTable .bgSelected td { }
.imgtable { padding-bottom:2px; }
.blockListTable img { vertical-align:middle; }
.blockListTable .emptyRecord { }
.indent_1 { padding:0 5px 0 22px; background:url(../images/board/ic_reply_ar_b.gif) no-repeat 10px 4px; }
.indent_2 { padding:0 5px 0 32px; background:url(../images/board/ic_reply_ar_b.gif) no-repeat 20px 4px; }
.indent_3 { padding:0 5px 0 42px; background:url(../images/board/ic_reply_ar_b.gif) no-repeat 30px 4px; }
.indent_4 { padding:0 5px 0 52px; background:url(../images/board/ic_reply_ar_b.gif) no-repeat 40px 4px; }
.indent_5 { padding:0 5px 0 62px; background:url(../images/board/ic_reply_ar_b.gif) no-repeat 50px 4px; }
.deletedItem { color:#749ad8; }
.notice { font-weight:bold; }
.ic_new { display:inline-block; width:12px; height:9px; background:url(../images/board/ic_new.gif) no-repeat; }
.ic_new > span { display:none; }

/* listTable_2
---------------------------------------------------------*/
.blockListTable_2 { position:relative; width:100%; min-width:400px; margin-bottom:10px; }
.blockListTable_2 table { border-collapse:collapse; width:100%; table-layout:fixed; }
.blockListTable_2 table caption { display:none; }
.blockListTable_2 > table > thead > tr > th { white-space:nowrap; word-break:break-all; text-align:center; font-weight:bold; color:#111; padding:3px 10px 2px; *padding:4px 10px 1px; border:1px solid #ccc; background:url(../images/common/bg_qnamenu.gif) repeat-x bottom; }
.blockListTable_2 > table > tbody > tr > td { word-break:break-all; text-align:center; line-height:14px; padding:6px 5px 5px 5px; *padding:6px 5px 4px 5px; border:1px solid #ccc; }


/* pageNum
---------------------------------------------------------*/
.pageNum { height:27px;}
.pageNum ul { text-align:center; font-size:0.9em; padding:4px 0 0 0; }
.pageNum li { display:inline !important; padding:0 1px !important; border-bottom:none !important; }
.pageNum li span { font-weight:bold; color:#0089cc; padding:0 7px 0 1px; vertical-align:bottom; background:url(../images/board/bar_pageNum.gif) no-repeat right 3px; }
.pageNum li span.liFirst { padding-left:6px; }
.pageNum li span.liLast { background:none; }
.pageNum li a:link { color:#777; vertical-align:bottom; text-decoration:none; }
.pageNum li a:active, .pageNum li a:visited { color:#777; text-decoration:none; }
.pageNum > ul > li > span > a:hover { color:#0089cc; text-decoration:none; }
.pageNum a.btn_page_first, .pageNum a.btn_page_last { display:inline-block; margin-bottom:3px; *margin-bottom:0; width:17px; height:11px; }
.pageNum a.btn_page_pre, .pageNum a.btn_page_next { display:inline-block; margin-bottom:3px; *margin-bottom:0; width:12px; height:11px; }
.pageNum a.btn_page_first { background:url(../images/board/btn_page_first.gif) no-repeat; }
.pageNum a.btn_page_pre { background:url(../images/board/btn_page_pre.gif) no-repeat; }
.pageNum a.btn_page_next { background:url(../images/board/btn_page_next.gif) no-repeat; }
.pageNum a.btn_page_last { background:url(../images/board/btn_page_last.gif) no-repeat; }
.pageNum a.btn_page_first span, .pageNum a.btn_page_pre span, .pageNum a.btn_page_next span, .pageNum a.btn_page_last span { display:none; }


/* blockButton
---------------------------------------------------------*/
.blockButton { text-align:right; margin-bottom:7px;  margin-top:5px; }
.blockButton li { display:inline; margin-left:-3px; }
form .blockButton li { *margin-left:0; }
.blockButton li span.bar { display:inline-block; width:5px; height:25px; position:relative; top:8px; background:url(../images/board/bg_btn_bar.gif) no-repeat 1px top; *background-position:1px 2px; }
.underline { border-bottom: 1px solid #e6e6e6; padding-bottom:5px; }
a.button { display:inline-block; height:25px; position:relative; color:#000; white-space:nowrap; background:url(../images/board/btn_basic_01.gif) no-repeat; }
a:hover.button { text-decoration:none; background-position:left -25px; }
a:hover.systemAdmin { *background-position:left top; }
a.button span { display:inline-block; height:24px; padding:1px 12px 0 9px; *height:25px; *padding:0 12px 0 9px; margin-left:3px; line-height:25px; cursor:pointer; background:url(../images/board/btn_basic_01.gif) no-repeat right top; }
a:hover.button span { text-decoration:none; background-position:right -25px; }
.btnline .blockButton a.button { background:url(../images/board/btn_basic_011.gif) no-repeat left top; }
.btnline .blockButton a.button span { background:url(../images/board/btn_basic_011.gif) no-repeat right top; }
.btnline .blockButton a:hover.button { background-position:left -25px; }
.btnline .blockButton a:hover.button span { background-position:right -25px; }
.blockButton li.inEnglish { position:relative; *top:1px; }
.blockButton li.inEnglish a.button span { padding:0 12px 0 9px; *line-height:24px; }
.buttongroup { position:relative; text-align:right; }
.buttongroup .buttongroup_ic { margin:0 2px; vertical-align:bottom; *vertical-align:middle; }
.buttonicon { position:absolute; top:0; left:0; }
.buttonicon a { color:#555; }
.buttonicon a:hover { text-decoration:none; }
.buttonicon img { vertical-align:top; }
.buttongroup .buttonicon { top:2px; }

/* subbutton_icon
---------------------------------------------------------*/
a.button_ic, a.button_ic span, .button_ic, .button_ic span { position:relative; margin-right:3px; display:inline-block; border:0; white-space:nowrap; background:url(../images/board/btn_basic_s.gif) no-repeat; overflow:visible; }
a.button_ic, .button_ic { text-decoration:none; padding:0; background-position:left top; }
a.button_ic span, .button_ic span { height:18px; font-size:0.9em; left:5px; color:#40484c; padding:0 6px 0 0; *padding:1px 6px 0 0; line-height:18px; background-position:right top; cursor:pointer; *font-family:"Dotum";}
a.button_ic img, .button_ic img { padding:0 5px 2px 0; vertical-align:text-top; }
a.button_ic.selected { background:url(../images/board/btn_basic_s_selected.gif) no-repeat left top; }
a.button_ic.selected span { color:#c50050; background:url(../images/board/btn_basic_s_selected.gif) no-repeat right top; }

/* subbutton
---------------------------------------------------------*/
a.button_s, a.button_s span { position:relative; margin-right:3px; display:inline-block; border:0; white-space:nowrap; background:url(../images/board/btn_basic_s.gif) no-repeat; overflow:visible; }
a.button_s { text-decoration:none; padding:0; background-position:left top; }
a.button_s span { height:18px; font-size:11px; *font-family:'돋움', 'Dotum', Tahoma; font-weight:normal; left:7px; color:#40484c; padding:2px 7px 0 0; *padding:0 7px 0 0; line-height:18px; background-position:right top; cursor:pointer; }
a.button_s span img { vertical-align:middle; padding-right:5px; *padding-top:1px; }
a.button_s.selected { background:url(../images/board/btn_basic_s_selected.gif) no-repeat left top; }
a.button_s.selected span { color:#c50050; background:url(../images/board/btn_basic_s_selected.gif) no-repeat right top; }
.btn_s { float:right; margin-right:3%; }

/* button_s_pop
---------------------------------------------------------*/
.button_s_pop { vertical-align:bottom; font-size:0.9em; *font-family:'돋움', 'Dotum', Tahoma; margin-left:9px; color:#777; }
.button_s_pop span { color:#777 !important; margin-left:4px; }

/* blockButton_2
---------------------------------------------------------*/
.blockButton_2 { height:35px; margin-bottom:20px; }
.button_2 { width:100%; text-align:center; display:inline-block; background:url(../images/board/btn_basic_02.gif) no-repeat left top; }
a:hover.button_2, a:hover.button_2 span { text-decoration:none; background:url(../images/board/btn_basic_02_over.gif) no-repeat; }
a.button_2 span, a:hover.button_2 span { display:block; height:35px; line-height:35px; margin-left:3px; padding-right:3px; cursor:pointer; color:#555; font-weight:bold; background:url(../images/board/btn_basic_02.gif) no-repeat right top; }
a.button_2.normal span, a:hover.button_2.normal span { font-weight:normal !important; }
a:hover.button_2 span { color:#111; background:url(../images/board/btn_basic_02_over.gif) no-repeat right top; }
a.button_2 img { padding:0 2px 2px 0; vertical-align:middle; }

/* blockButton_3
---------------------------------------------------------*/
.blockButton_3 { position:relative; height:28px; margin-bottom:8px; }
.button_3 { width:100%; text-align:center; display:inline-block; background:url(../images/board/btn_basic_03.gif) no-repeat left top !important; }
a:hover.button_3, a:hover.button_3 span { text-decoration:none; background:url(../images/board/btn_basic_03_over.gif) no-repeat; }
a.button_3 span, a:hover.button_3 span { display:block; height:28px; line-height:28px; margin-left:3px; padding-right:3px; cursor:pointer; color:#111; background:url(../images/board/btn_basic_03.gif) no-repeat right top; }
a:hover.button_3 span { background:url(../images/board/btn_basic_03_over.gif) no-repeat right top; }
.blockButton_3 .ic_top { position:absolute; top:7px; right:15px; }
.blockButton_3 .ic_top a { display:block; width:34px; height:13px; background:url(../images/board/ic_top.gif) no-repeat; }
.blockButton_3 .ic_top a:hover { background-position:0 -13px; }
.blockButton_3 .ic_top a span { display:none; }

/* blockButton_4
---------------------------------------------------------*/
.blockButton_4 { height:35px; margin-bottom:20px; }
.button_4 { width:100%; text-align:center; display:inline-block; background:url(../images/board/btn_basic_04.gif) no-repeat left top; }
a:hover.button_4, a:hover.button_4 span { text-decoration:none; }
a.button_4 span, a:hover.button_4 span { display:block; height:35px; line-height:35px; margin-left:3px; padding:2px 3px 0 0; *padding:0px 3px 0 0; cursor:pointer; color:#fff; font-weight:bold; background:url(../images/board/btn_basic_04.gif) no-repeat right top; }
a.button_4 img { padding:0 6px 4px 0; *padding:2px 6px 4px 0; vertical-align:middle; }

/* blockButton_5
---------------------------------------------------------*/
.blockButton_5 { position:relative; height:28px; margin-bottom:8px; }
a.button_prev { float:left; width:50%; height:28px; font-size:0.9em; color:#75839e; line-height:28px; text-align:center; display:inline-block; margin-right:-1px; background:url(../images/board/btn_basic_03.gif) no-repeat left top; }
a:hover.button_prev { text-decoration:none; background:url(../images/board/btn_basic_03_over.gif) no-repeat; }
a.button_next { float:left; width:50%; height:28px; font-size:0.9em; color:#555; line-height:28px; text-align:center; display:inline-block; border-left:1px solid #d8d9e3; background:url(../images/board/btn_basic_05.gif) no-repeat right top; }
a:hover.button_next { text-decoration:none; background:url(../images/board/btn_basic_05_over.gif) no-repeat right top; }

/* button_re
---------------------------------------------------------*/
a.button_re { width:56px; height:50px; text-align:center; display:inline-block; vertical-align:middle; text-decoration:none; background:url(../images/board/btn_basic_re.gif) no-repeat; }
a.button_re span { color:#333; font-weight:bold; line-height:50px; cursor:pointer; }


/* pageTitle
---------------------------------------------------------*/
#pageTitle { position:relative; margin-bottom:5px; }
#pageTitle h2 { background: url(../images/ic_arrow_01.gif) no-repeat 2px 4px; height:25px; margin-bottom:15px; }
#pageTitle h2 p{font-size:12px; color:#0096e4; padding: 3px 0 0 20px; }
#pageTitle.TeamColl { border:none; margin:0; }
.btnline { padding-top:6px; }
.btnline .blockButton { position:absolute; top:3px; right:2px; margin-bottom:5px; }

/* blockDetail
---------------------------------------------------------*/
.blockDetail { position:relative; width:100%; min-width:400px; margin-bottom:10px; }
.blockDetail table { border-collapse:collapse; width:100%; table-layout:fixed; border-top:1px solid #D9D9D9; }
.blockDetail table caption {display:none; }
.blockDetail table th {border-bottom:1px solid #D9D9D9;background:#F6F7F8; white-space:nowrap; word-break:break-all; text-align:right; font-weight:bold; line-height:30px; padding-right:10px;}
.blockDetail table th a:link, .blockDetail table th a:visited, .blockDetail table th a:active, .blockDetail table th a:hover { color:#1b4e6d; text-decoration:none; }
.blockDetail table td {line-height:19px; padding:2px 2px 2px 5px; word-break:break-all; border-bottom:1px solid #cecece; background-color:#fff; }
.blockDetail .ic_cal img { vertical-align:middle; }
.blockDetail .bgSelected { background-color: #edf2f5; }
.blockDetail table td .radio, .blockDetail table td .checkbox { vertical-align:middle; }
.blockDetail table td .button_s { vertical-align:middle; margin:-1px 3px -2px 0; }
.blockDetail .selectbox { vertical-align:middle; }
.blockDetail .listStyle li { padding:2px 0; }
.tdInstruction { padding:5px 0; color:#888; letter-spacing:-1px; }
.tdInstruction_top { padding-bottom:5px; color:#888; }
.blockTableInfo { text-align:right; padding-bottom:5px; }
.blockTableInfo img { vertical-align:middle; }
.totalNum_s, .totalNum_s span { vertical-align:bottom; }
.fileAttach li { padding:4px 10px 2px; border-top:1px dotted #e1e1e1; }
.fileAttach li:first-child { border:none; }
.fileAttach li img { vertical-align:middle; padding-bottom:2px; }
.fileAttach li a { color:#555; }
.fileAttach li a:hover { color:#111; text-decoration:none; }
.fileAttach .fileNum { color:#999; }
.fileAttachArea { position:relative; }
.fileAttachArea .wrap { position:relative; border:1px solid #e0e0e0; border-top:none; }
.fileAttachArea .wrap .th { position:absolute; top:0; left:0; text-align:right; min-height:25px; height:100%; background:#f3f3f3; }
.fileAttachArea .wrap .th .title { position:absolute; top:50%; margin-top:-10px; right:6px; color:#333; font-weight:bold; }
.fileAttachArea .wrap .td { min-height:25px; padding-left:5px; border-left:1px solid #E0E0E0; background:#fff; }
.fileAttachArea .wrap .td .content { padding-left:1px; padding-bottom:7px; padding-right:5px; padding-top:10px; }
.input_buttonBox { position:relative; }
.input_buttonBox01 { position:relative; margin-right:175px; padding-top:5px; }
.input_buttonBox01 select { width:100% }
.input_buttonBox02 { position:absolute; width:150px; bottom:0; right:20px; }
.fileup { position:relative; }
.fileup h3 { font-size:1em; }
.fileup_t { height:20px; border-bottom:1px solid #d7d7d7; }
.fileup_t .btn { position:absolute; top:7px; right:0; }
.fileup_c { background:#f5f5f5; }
.blockDetail .link { color:#5a86ce !important; }
.blockDetail a:visited.link { color:#ba31bc !important; }
.dealSelDate { margin-left: 7px; margin-right: 20px; width: 100px; height: 20px; vertical-align:bottom; }
.dealSelStore { margin-left: 7px; width: 280px; height: 20px; vertical-align:bottom; }

/* blockTableRead
---------------------------------------------------------*/
.blockTableReadWrap { padding:10px 15px; border-top:1px solid #D9D9D9;}
.blockTableRead { position:relative; margin-bottom:10px; width:100%; min-width:400px; }
.blockTableRead_t { padding:0 0 8px 0; border-bottom:1px solid #e9e9e9; }
.blockTableRead_t p { font-family:'돋움', 'Dotum', Tahoma; font-weight:bold; font-size:14px; letter-spacing:-0.05em; color:#333; padding:5px 180px 3px 0; }
.blockTableRead_t .summaryViewInfo img { padding:2px 3px 0; }
.filedown { position:relative; padding:8px 7px 7px; margin-bottom:10px; background:#F6F7F8; }
.filedown ul li { text-align: left;font-family:돋움; font-size:11px; line-height:15px;}
.filedown img { vertical-align:top; }
.filedown a { color:#777; }
.filedown_ic { text-align:right; margin-top:3px; }
.filedown_ic a { color:#555; }
.filedown_ic a:hover { text-decoration:none; }
.filedown_ic img { vertical-align:middle; padding-bottom:2px; *padding-bottom:0; }
.blockTableRead_t_info_1 { font-size:11px; font-weight:normal; color:#999; margin-left:5px; }
.blockTableRead_t .ic_rt_favorite { margin:0 1px 3px 1px; *margin:0 5px 3px 1px; vertical-align:middle; }
.blockTableRead_t_info_2 { position:relative; margin-top:4px; }
.blockTableRead_t .date { font-size:0.9em; color:#999; }
.blockTableRead .recommend { position:absolute; top:5px; right:5px; }
.blockTableRead .favorite { position:absolute; top:5px; right:10px; padding-top:5px; }
.blockTableRead .favorite img { vertical-align:middle; padding-bottom:4px; }
.blockTableRead_c { word-wrap: break-word; line-height:1.8em; color:#555; padding:10px 0; border-bottom:1px solid #e9e9e9; }
.blockTableRead_c ol { margin:10px 0 10px 30px; }
.blockTableRead_c ul { list-style:inside; margin:10px 0 10px 12px; }


/* blockComment
---------------------------------------------------------*/
.blockComment { position:relative; padding:15px 15px 10px 15px ; margin-bottom:0;border-top:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9; background:#F6F7F8;}
.blockComment.noLine { margin:0; }
.blockComment.noLine .blockComment_t { border:none !important; }
.blockComment_t { position:relative; font-weight:bold; padding:0 0 5px 12px; border-bottom:1px solid #ddd !important; background:url(../../images/icon/ic_blt_01.gif) no-repeat 0 4px; }
.blockComment_t a { color:#555; }
.blockComment_t .button_s { position:absolute; top:-2px; *top:-5px; right:0; font-weight:normal; }
.blockComment_c { position:relative; padding:9px 0 7px;border-bottom:1px dotted #D9D9D9;}
.blockComment_c p { word-wrap: break-word; }
.blockComment_c.divLast { background:none; }
.commentNum { position:absolute; top:10px; right:0; color:#777; }
.blockComment .pageNum {}
.blockComment .pageNum img { vertical-align:middle; }
.blockComment_re { position:relative; margin:5px 0 2px; padding:5px 0 4px 27px; background:#fff; }
.blockCommentInfo { padding:5px 0; font-size:0.9em; color:#999;}
.blockCommentInfo span { margin-left:0px; }
.blockCommentInfo img { padding:2px 3px 0; }
.blockCommentInfo_name a:link, .blockCommentInfo_name a:active, .blockCommentInfo_name a:visited { font-family:'돋움', 'Dotum', Tahoma; font-size:1.1em; letter-spacing:0em; font-weight:bold; color:#000; }

/* profile_guestbook */
.pr_guestbook { position:relative; padding-top:30px; margin-bottom:25px; }
.pr_guestbook2 { position:relative; padding-top:10px; }
.pr_guestbook h2 { position:absolute; top:0; padding-right:10px; margin-bottom:12px; z-index:1; background:#fff; *font-family:'돋움', 'Dotum', Tahoma; font-size:1.2em; color:#111; }
.pr_guestbook h3 { position:absolute; top:0; font-size:1em; padding-right:10px; margin-bottom:12px; z-index:1; color:#333; background:#fff; }
.pr_guestbook .more { position:absolute; top:6px; width:100%; text-align:right; z-index:0; border-bottom:1px solid #d7d7d7; }
.pr_guestbook .more img { margin-bottom:-4px; padding-left:5px; background:#fff; }
.guestbook_t { position:relative; color:#777; padding-bottom:5px; border-bottom:1px dotted #ddd; }
.guestbook_write { padding:10px 0 0; }
.guestbook_write table { width:100%; }
.guestbook_write textarea { padding:4px; width:100%; *width:99%; }
.guestbook_write_num { text-align:right; font-size:0.9em; padding-right:68px; }
.guestbook_c { padding:10px 0 6px; position:relative; background:url(../images/common/dotline_1px.gif) repeat-x bottom; }
.guestbook_c.divLast { background:none; }
.guestbook_c .blockComment_re { margin:0; }
.guestbook_c .blockCommentInfo_name a:link, .guestbook_c .blockCommentInfo_name a:active, .guestbook_c .blockCommentInfo_name a:visited { font-weight:bold; }