// Image Path Locations relative to sass/bundles folder
$mojo-img-path: 'images';
$mstr-img-path: '../../../style/mstr/images';
$mstr-style-img-path: '../../../style/images/';

@import 'global-mixins';