@import 'global';
@import 'global-mixins';

.hasEditableText::-moz-selection {
    background-color: transparent;
}

.hasEditableText.editable {
    color: #000;
    cursor: text;
    @include user-select(text);
    overflow: hidden;

    &::selection {
        background-color: #538DA9;
        color: #fff;
    }
    &::-moz-selection {
        background-color: #538DA9;
        color: #fff;
    }
}

.mojo-theme-dark {
  .hasEditableText.editable {
    color: #fff;
  }
}
