@import "_global";
/* Beginning of Sharing Editor */

.mstrmojo-SharingEditor {
    width: 460px;
    float: left;
    .mstrmojo-Editor-title {
        /* Issue 758925: fixed IE8 Bug (incapable of max-width) */
        /* max-width: 360px; */
        width: 360px;
    }
    .mstrmojo-CheckListHoriz {
        margin-left: 50px;
        margin-top: 5px;
        .mstrmojo-CheckListHoriz-item {
            padding-right: 10px;
            label {
                padding-left: 5px;
                line-height: 1.2;
            }
            input {
                float: left;
            }
        }
    }
    .mstrmojo-Editor-buttons {
        float: right;
        margin-bottom: 5px;
    }
    .mstrmojo-ObjectInputBox {
        height: auto !important;
        width: 160px;
        max-height: 100px;
        padding: 2px;
        border-radius: 2px;
        &.disabled {
            padding: 23px 0 0 0; // set padding since height cannot be set (important)
            background-color: #EEEEEE;
        }

    }
    .mstrmojo-WebButton {
        &.action-button {
            margin: 0px 3px;
        }
        &.hot {
            margin-right: 10px;
        }
    }
}

.sharingEditor-tabDock {
    min-width: 300px;
    margin: auto;
}

.sharingEditor-emailLink {
    text-decoration: none !important;
    border-left: none !important;
    background-image: url(#{$mojo-img-path}/sharingEditor/envelope.png);
    &:hover {
        background-image: url(#{$mojo-img-path}/sharingEditor/hover-envelope.png);
    }
}

.mstrmojo-SharingEditor .sharingEditor-tabDock .mstrmojo-Label,
.sharingEditor-emailLink {
    font-size: 12px;
    margin: 5px 10px;
    border-left: solid 1px #BDBDBD;
    border-spacing: 5px;
    background-position: 10px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.SharingEditor-ShowLink {
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(#{$mojo-img-path}/sharingEditor/link.png);
    &:hover {
        background-image: url(#{$mojo-img-path}/sharingEditor/hover-link.png);
    }
}

.SharingEditor-ShowHtml {
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(#{$mojo-img-path}/sharingEditor/html.png);

    &:hover {
        background-image: url(#{$mojo-img-path}/sharingEditor/hover-html.png);
    }
}

.SharingEditor-ShowHtml:hover,
.SharingEditor-ShowLink:hover,
.sharingEditor-emailLink:hover,
.SharingEditor-Public:hover {
    color: #000000;
    cursor: pointer;
}

.SharingEditor-Link {
    width: 90%;
    margin-left: 10px;
}
.SharingEditor-title {
    font-size: 11px;
    color: #7E7E7E;
    font-weight: bold;
    margin: 15px 5px 5px 5px;
}

.mstrmojo-SharingEditor-html-panel {
    border: solid 1px #BDBDBD;
    margin: 5px;
    padding: 10px;
    .mstrmojo-TextBoxWithLabel {
        .mstrmojo-TextBox {
            width: 40px;
        }
        .mstrmojo-TextBox-label {
            margin-left: 70px;
            margin-right: 5px;
        }
    }
}

.SharingEditor-Html {
    width: 350px !important;
    display: block !important;
    margin: 5px auto;
}

/* start ACL portion */
.sharingEditor-publicAccessSection {
    width: 88%;
    margin-right: auto;
    margin-left: 19px;
    padding: 2px;
    height: 20px;
    margin-top: auto;
    height: 30px;
    border-bottom: 2px solid #c0c0c0;
}

.SharingEditor-Public {
    label {
        padding: 0px 44px !important;
        font-size: 12px;
        background: transparent url(#{$mojo-img-path}/sharingEditor/checked-group.png) 19px 0 no-repeat;
    }
    .label-disabled {
        color: #7e7e7e;
        background-image: url(#{$mojo-img-path}/sharingEditor/non-checked-group.png);
    }
}

.sharingEditor-rightLabel {
    font-size: 12px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: right;
    min-width: 60px;
    margin-right: 20px;
    background: transparent url(#{$mojo-img-path}/editor-button.png) no-repeat right -363px;
}

.sharingEditor-pulldown-iconNode{
    margin-right: 20px;
}
.sharingEditor-pulldown{
    width: 80px;
    float: right;
    margin-right: 20px;
}
.sharingEditor-pulldown-iconNode,
.sharingEditor-datagridPulldown-iconNode,
.sharingEditor-pulldown-iconNode:hover,
.sharingEditor-datagridPulldown-iconNode:hover{
    min-width: 60px;
    text-align: right;
    font-size: 12px;
    border: none;
    padding-right: 20px;
    padding-bottom: 0px;
    line-height: 16px;
    background: transparent url(#{$mojo-img-path}/editor-button.png) no-repeat right -362px;
    cursor: pointer;
}

.sharingEditor-datagridContainer  {
    float:right;
}


/*Sharing Editor - DataGrid*/

.mstrmojo-SharingEditor {
    .hide {
        display: none;
    }
    .mstrmojo-DataGrid-headerText {
        display: none;
    }
    .mstrmojo-DataGrid {
        border: none;
        margin: auto;
        width: 85%;
        overflow: hidden;
        &.aclList .mstrmojo-scrollNode {
    		max-height: 200px;
    	}
    }
    .u {
        font-size: 12px;
        padding-left: 25px;
        background-image: url(#{$mojo-img-path}/sharingEditor/user.png);
    }
    .ug {
        font-size: 12px;
        padding-left: 25px;
        background-image: url(#{$mojo-img-path}/sharingEditor/checked-group.png);
    }
    .mstrmojo-DataRow.even {
        background-color: #FAFAFA;
    }
    .sharingEditor-datagridContainer td {
        border-style: none;
    }
    .mstrmojo-Pulldown {
        width: 85%;
        margin: 12px auto;
        padding: 4px 0px;
    }
    .mstrmojo-Pulldown-iconNode:hover {
        background-position: right -362px;
    }
}

/*cpsection*/

.sharingEditor-CPSection {
    width: 85%;
    margin: auto;
    .mstrmojo-Pulldown {
        height: 24px;
        border: 0;
        padding: 0;
        margin: 12px 10px 12px 13px;
        width: 62px;
        &.disabled {
            cursor: default;
        }
    }
    .mstrmojo-Pulldown-boxNode {
        padding: 3px 3px 0 3px;
        background-color: #e5e5e5;
        border: 1px solid #b5b5b5;
        border-radius: 2px;
        color: #5f5f60;
    }

    .mstrmojo-Pulldown-iconNode {
        padding-right: 24px;
        //xshang: Issue fix of DE8120 Chinese words are missing in the Subscription ACL Setting GUI 03-12-2015
        white-space: nowrap;
    }

    .mstrmojo-Pulldown-iconNode:hover {
        background-position: right -362px;
    }

    .mstrmojo-Editor-button {
        min-width: 50px;
        float: right;
        margin-right: 0px;
    }
}

.sharingEditor-ACLUserPanel {
    padding: 20px 0px 10px 0px;
    .mstrmojo-ObjectItem-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 90px;
      display: inline-block;
    }

    .u {
      padding-top: 0px;
      background-position: 3px 0px;
    }

    .ug {
      padding-top: 0px;
      background-position: 3px 0px;
    }

}
.sharingEditorUserMessage {
    color: #c80000;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
    background: url(#{$mojo-img-path}/Remove.png) no-repeat 90% center;
}
.mstrmojo-SharingEditor .hideMsg{
    visibility: hidden;
}

#shareReportPersonalView,
#tbShareURL{
    background-image:  url(#{$mojo-img-path}/sharingEditor/link.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* end of Sharing editor */