.mstrmojo-DBCredentialEditor {
  background: #f9f9f9;
  width: 500px;

  .mstrmojo-wh-DBRoleSetting:first-child {
    margin-top: 20px;
  }

  .mstrmojo-wh-DBRoleSetting-Label.mstrmojo-Label.disabled {
    opacity: 1;
    color: #444649;
  }

}