@import '../wh-global';

.mstrmojo-wh-DBRoleSettingConnectionStringEditor {

}

.mstrmojo-wh-DBRoleConnection-ShowConnection {
  text-align: right;
  cursor: pointer;
  white-space: nowrap;
}

.mstrmojo-TextArea.mstrmojo-wh-DBRoleConnection-ConnectionString {
  display: block !important;
  width: 100%;
  height: 50px;
  margin-top: 9px;
  border: solid 1px #B7B7B7;
  background-color: white;

  &.disabled {
    background-color: #dddddd;
    color: #a0a7ac;
    border-color: #cbcbcb;
  }
}
.mstrmojo-wh-DBRoleConnection-driverList {
  .mstrmojo-PopupList {
    width: 350px;
  }
}