.mstrmojo-wh-DBRNameEditor {
  .mstrmojo-Editor-titlebar {
    font-size: 15px;
    font-weight: bold;
  }

  .mstrmojo-Editor-close, .mstrmojo-Editor-help {
    display: none;
  }

  width: 325px;
}

.mstrmojo-wh-DBRNameEditorLabel {
  margin-left: 5px;
  margin-top: 10px;
  line-height: 20px;
}
.mstrmojo-wh-DBRNameEditorText {
  margin-top: 10px;
  margin-left: 5px;
  width: 300px;
}