@import '../global';

.mstrmojo-Refine-RefineSampleButton {
  position: relative;
  overflow: visible; // reset overflow hidden in button

  .mstrmojo-Refine-RefineSampleButton-Popup {
    @include box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px); /* #905852 */
    @include box-sizing();
    @include border-radius(3px);

    background: rgba(237, 237, 237, 0.96);
    border: 1px solid #9B9B9B;
    margin-top: 2px;
    overflow: hidden;
    z-index: 1003;
    min-width: 200px;
    width: auto;
    text-align: center;

    font-family: arial;
    font-size: 11px;
    color: #44649;

    .box {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 12px;
      padding-right: 12px;

      .mstrmojo-TextBox {
        width: 46px;
        @include border-radius(2px);
        border: 1px solid #B5B5B5;
        font-size: 10px;
        margin: 0 2px;
      }

      .mstrmojo-WebButton {
        margin: 0 5px;
        .mstrmojo-Button-text {
          line-height: 22px;
          color: #1A1A1A;
        }
      }

      &.border {
        border-bottom: 1px solid #DEDEDE;
        @include box-shadow(#FFF, 0, 1px, 0, false);

        &._FTS{
          margin-top: 10px;
          padding: 0 12px;
        }

        &._sliderContainer {
          margin: 0 auto;
          padding: 0px auto;
        }
      }

      &:first-child {
        margin-top: 12px;
        padding-bottom: 12px;
      }

      &:nth-child(2) {
        line-height: 22px;
        margin: 2px 0;
        text-align: left;
      }

      &:last-child:not(._sliderLabel) {
        margin: 16px auto;
      }

      .control {
        &.right {
          float: right;
        }
        &.pc {
          cursor: pointer;
        }
        &.mstrmojo-refine-help {
          cursor: default;
          float: right;
          background: url(vi/images/menu_icons.png) no-repeat -29px -86px;
          width: 9px;
          height: 20px;
          margin: 0px;
        }
      }

      .invalid {
        border: 1px solid red;
      }

      ._sliderLabel{
        margin: 5px 0 0 0;
        padding: 0;
      }

      ._sliderBar{
        left: -4px;
        .t2{
          background: transparent url(images/scroller/slider_knob.png) 0 0 no-repeat;
          height: 15px;
          top: -4px;
          width: 15px;
          left: -3px;
        }
        .bk{
          margin-top: 10px;
          height: 8px;
          width: 100%;
          background: white;
          border-radius: 4px;
          border:1px solid #ddd;
          position: relative;
          left: 4px;
          .progress{
            height: 100%;
            background-color: #3ba3da;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            float: left;
          }
        }
      }
    }
  }

}

