@import '../_global.scss';

/** Start ConditionTransactionEditor **/

%font-item-walk {
  font-size: 8pt;
  line-height: 12px;
  color: black;
  cursor: pointer;
}

.mstrmojo-Editor.mstrmojo-ConditionTXN {
    @extend %editor-base !optional;

    .mstrmojo-Editor-content {
        padding-top: 21px;
        padding-bottom: 21px;
        overflow: hidden;

        .rulesTitles {
            font-weight: bold;
            line-height: 26px;
            height: 26px;
            border: 1px solid #AAA;
            border-bottom: 0 none;

            & > div {
                position: relative;
                float: left;

                &.order {
                    margin-left: 20px;
                }

                &.reserved {
                  width: 30px;
                  height: 100%;
                }

                &.target {
                    width: 90px;
                    margin: 0;
                    text-align: center;
                    display: none;
                }

                &.action {
                  margin: 0;
                  text-align: center;
                  width: 95px;
                }

                &.condition {
                  margin-left: 25px;
                }
            }
        }

        .content {
            border: 1px solid #AAA;
            background-color: #FFF;
            overflow: auto;
            height: 302px;
            width: 752px;

          .mstrmojo-rw-ConditionWalk {
            border-width: 0 !important;
            overflow-y: hidden;
          }

          .disable {
            display: none !important;
          }

          .templateUnitList {
            display: none;
          }

          .AdvancedExpression {
            display: block !important;
            overflow-y: hidden;
          }

          .AdvancedExpression.disable {
            display: none !important;
          }

            &.no-overflow {
                overflow: visible;
            }

            .condition {
                padding: 0px;

                .mstrmojo-cond-contents {
                    padding: 0px;
                    margin: 0px;
                }

                .mstrmojo-ConditionTXN-ActionRow {
                    border-bottom: 0px;

                    .delete,
                    .menu,
                    .mstrmojo-onhoverparent:hover .mstrmojo-del{
                        display:none;
                    }
                }
            }

            .walk {
                .mstrmojo-ui-ColumnWalk {
                    background-color: #e4e4e4;

                    .mstrmojo-walkstep-label.active {
                      height: 16px;
                      line-height: 16px;
                      cursor: pointer;
                      padding: 2px 3px 2px 10px;
                      overflow: hidden;
                      margin-right: 5px;
                      &:hover {
                        text-decoration: underline;
                      }
                      &.selected {
                        background-color: #d2d2d2;
                        border-radius: 2px;
                        font-weight: normal;
                        @extend %font-item-walk;

                        &:after {
                          background: #d2d2d2 url(#{$mojo-img-path}/expandMenu.gif) right 1px no-repeat;
                          content: '';
                          position: absolute;
                          height: 12px;
                          width: 10px;
                          right: 6px;
                        }
                      }
                    }

                    .mstrmojo-ui-ColumnContainer:last-child {
                        .selected:after{
                            display: none !important;
                        }
                    }
                }
            }

            .apply {
                background-color: #e4e4e4;
            }

            .link {
                line-height: 30px;
                margin-left: 10px;
                margin-right: 10px;
                width: 20px;
                height: 20px;
				background: transparent url(#{$mojo-img-path}/filter-editor-icons.png) no-repeat -93px -4px scroll;
                &:hover {
                    cursor: pointer;
                }
            }

            .targetList {
                margin: 2px 5px 2px 0;

                .mstrmojo-DropDownList-select {
                    width: 90px;
                    max-width: 90px;
                }
            }

            .actionList {
            	margin: 2px 5px 2px 10px;

                .mstrmojo-DropDownList-select {
                  width: 80px;
                  max-width: 80px;
                }
            }
        }
    }

    .mstrmojo-ui-CheckList {

        .item.selected{
             background-position: -6px -2px;
        }
    }

    .mstrmojo-Editor-buttons {
        .mstrmojo-Button {
            position: relative;
            float: right;
            height: 22px;
            width: 65px;
            margin: 0 0 0 10px;
        }
    }
}

.mstrmojo-Editor.mstrmojo-ConditionTXN.templateUnit {
    .rulesTitles {
        & > div {
            &.target {
              display: block;
            }
        }

    }

    .content {
        .templateUnitList {
            display: block;
        }
    }
}
/** End ConditionTransactionEditor **/
