html {
  overflow: hidden;
}

.mstrContent, .mstrWeb .mstrDockTop {
  padding: 0;
}

/** Start Project Manager**/

.mstrmojo-ProjectManager {
  background-color: white;
  overflow-y: auto;
}