/** BEGIN:  LinksEditor **/
.mstrmojo-Architect-LinksEditor .mstrmojo-Editor-button{
  float: right;
  margin: 10px 5px 10px 0;
}

.mstrmojo-Architect-LinksEditor .mstrmojo-DataGrid-itemsScrollBox{
  height: 395px;
}

.mstrmojo-Architect-LinksEditorGrid{
  margin-top: 5px;
  width: 500px
}

.mstrmojo-Architect-LinksEditor .mstrmojo-DataRow{
  height: 15px;
}

.mstrmojo-Architect-LinksEditor .mstrmojo-DataRow-text{
  margin-left: 5px;
}
/** END: LinksEditor **/