.mstrmojo-CustomThemePicker {
  .mstrmojo-WebButton {
    min-width: 66px;
  }
}

.applyThemeEditor {
  width: 375px;
  .mstrmojo-FormatEditor-DropDownButton {
    max-width: 302px;
    width: 300px;
  }
}
