/** beginning of Dataset Picker Editor */
.mstrmojo-vi-dataset-picker {
    .mstrmojo-Editor-content {
        padding-top: 16px;

        .mstrmojo-ObjectBrowser {
            padding-top: 8px;
        }

        .mstrmojo-Box {
            border: 0px !important;
        }
    }

    .mstrmojo-WebButton {
        min-width: 66px;
    }
}

//.mstrmojo-vi-dataset-picker{
//
//}
/** end of Dataset Picker Editor */