@import 'vi/vi-global';

.mstrmojo-SearchWidget{

  %search-box-base {
    height: 19px;
    border-width: 0;
    background-color: transparent;
  }

  height: 19px;
  margin: 0;
  border-radius: 3px;
  border-collapse: separate;
  .mstrmojo-SearchBox{
    padding: 0 0 0 6px;
    .mstrmojo-SearchBox-input{
      width: 100%;
      padding: 0;
      &::-ms-clear { // To hide the X clear button for IE
        display: none;
      }
    }
  }

  .mstrmojo-SearchBox-clear{
    background-color: transparent;
  }

  .mstrmojo-SearchBox-search{
    background: url(#{$vi-img-path}/menu_icons.png) no-repeat -115px -56px;
    &.clear {
      background-position: -23px 7px;
    }
  }

  td:nth-child(3) {
      width: 22px;
  }

  .mstrmojo-SearchBox .mstrmojo-SearchBox-input {
      @extend %search-box-base;
  }

  .mstrmojo-SearchBox-bg {
      @extend %search-box-base;

      .mstrmojo-SearchBox-search {
          @extend %search-box-base;

          height: 19px;
      }
  }

}

.mojo-theme-light {
  .mstrmojo-SearchWidget {
    background-color: #ffffff;
    border: 1px solid #b5b5b5;
    @include box-shadow(rgba(0, 0, 0, 0.2), 0, 0, 1px, false);
  }
}

.mojo-theme-dark{
  .mstrmojo-SearchWidget{
    background-color: #28282a;
    @include box-shadow(rgba(29, 29, 30, 0.75), 0, 1px, 1px, true);
    border: 1px solid #4C4E50;
    border: 1px solid rgba(76, 78, 80, 0.83);
    .mstrmojo-SearchBox-search.clear{
      background-position: -24px -193px;
    }
  }
}