@import 'vi/vi-global';

/************************************************************************************************************************************************************
 * PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ
 *
 * NOTE: This file contains mixins for styling controls for the current theme (established through global variable values).  Themes are mostly color based
 * so this file SHOULD ONLY contain colors and background images (that change based on theme).  If you find yourself adding CSS that is not color
 * or background based YOU ARE MAKING A MISTAKE AND SHOULD STOP.
 *
 * All other CSS rules should be in the component partials.
 *
 * PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ  PLEASE READ
 ***********************************************************************************************************************************************************/

/** Start ControlBase **/
// Inner glow.
@mixin ctrl-inner-glow {
    @include box-shadow($ctrl-inner-glow-color, 0, 0, 5px, true);
}

// Contrast Inner glow.
@mixin ctrl-inner-glow-contrast {
    @include box-shadow($ctrl-inner-glow-color-contrast, 0, 0, 5px, true);
}

// For when the divider is shown below the item.
@mixin ctrl-bottom-highlight {
    @include box-shadow($ctrl-base-highlight-color, 0, 1px, 0);

    border-bottom: 1px solid $ctrl-offset-highlight-color;
}

// For when the divider is shown above the item.
@mixin ctrl-top-highlight {
    @include box-shadow($ctrl-offset-highlight-color, 0, -1px, 0);

    border-top: 1px solid $ctrl-base-highlight-color;
}

// Popup styling.
@mixin ctrl-popup {
    @include box-shadow($popup-box-shadow, 0, 0, 10px);

    color: $popup-font-color;
    background: $popup-background;
    border-color: $ctrl-border;
}

// Popup styling.
@mixin ctrl-popup-contrast {
    @include box-shadow($popup-box-shadow-contrast, 0, 0, 10px);

    color: $popup-font-color-contrast;
    background: $popup-background-contrast;
    border-color: $ctrl-border-contrast;
}

// Pulldown popuplist styling. Used for Pulldown and SearchablePulldown
@mixin pulldown-popup {
    @include box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px);

    color: $popup-font-color;
    background-color: $pulldown-popup-bgcolor;
    border-color: $puldown-popup-border;
}

@mixin ctrl-popup-list-item {
    .item {
        color: $ctrl-font-color;

        &:hover {
            background-color: $popuplist-background-hover;
        }

        &.selected {
            background-color: $popuplist-background-selected;
        }
    }
}

// Popuplist styling.
@mixin ctrl-popup-list {
    @include ctrl-popup;
    @include ctrl-popup-list-item;
}

// Popup list stlying.
@mixin ctrl-popup-list-contrast {
    @include ctrl-popup-contrast;

    .item {
        color: $ctrl-font-color-contrast;

        &:hover {
            background: $popuplist-background-hover-contrast;
        }

        &.selected {
            background: $popuplist-background-selected-contrast;
        }
    }
}

// The basic styles for all controls on the VI page controlled for themes using variables.
@mixin control-base {
    background-color: $ctrl-background;
    color: $ctrl-font-color;

    &.mstrmojo-ui-Menu {
        background-color: $menu-background;
    }

    .mstrmojo-vi-EditorGroup.divide:nth-child(n+2) {  //do not add divider to the first editor group
        @include ctrl-top-highlight;

    }

    // Pulldown
    &.mstrmojo-ui-Pulldown,
    .mstrmojo-ui-Pulldown {
            color: $ctrl-font-color;
        .mstrmojo-ui-Pulldown-text {
            @include ctrl-inner-glow;

            border-color: $ctrl-border-strong;
        }

        &.disabled {
            background-color: #D3D3D3; // d3d3d3 (opacity 0.5) === dddddd
            .mstrmojo-ui-Pulldown-text {
                opacity: 0.5;
                border-color: $ctrl-border-strong-disabled;
                color: #6e7a84; // 6e7a84 (opacity 0.5) === a0a7ac
            }
        }

        &.multi {
            .mstrmojo-ui-PopupWidget {
                .mstrmojo-Buttons {
                    @include ctrl-top-highlight;
                }
            }
        }

        .mstrmojo-ui-PopupWidget  {
            @include pulldown-popup;
        }

        .mstrmojo-PopupList {
            @include pulldown-popup;
            @include ctrl-popup-list-item;
        }


        &.ctrl-contrast {
            border-color: $pulldown-border-contrast;

            .mstrmojo-ui-Pulldown-text {
                @include ctrl-inner-glow-contrast;

                border-color: $ctrl-border-contrast;
                color: $ctrl-font-color-contrast;
            }

            .mstrmojo-PopupList {
                @include ctrl-popup-list-contrast;
            }
        }
    }
    // End Pulldown

    .mstrmojo-ui-SearchablePulldown.mstrmojo-ui-Pulldown {
        .mstrmojo-ui-Pulldown-text {
            background-image: none;
            background-color: $searchable-pulldown-text-bg;
            color: $ctrl-font-color;

            &:after {
                @include box-shadow($ctrl-inner-glow-color, 0, 0, 5px, true);
            }
        }

        &.disabled {
            .mstrmojo-ui-Pulldown-text {
                color: $ctrl-font-color-disabled;
                border-color: $searchable-pulldown-disabled-text-border-color;
            }
        }
    }

    // SearchablePulldown base
    .mstrmojo-SearchablePulldown {
        .mstrmojo-SearchablePulldown-inputNode {
            background-color: $searchable-pulldown-input-bg-color;
            color: $searchable-pulldown-input-color;
        }

        .mstrmojo-SearchablePulldown-boxNode {
            border-color: $searchable-pulldown-box-border-color;
            color: $ctrl-font-color;

            .mstrmojo-SearchablePulldown-iconNode {
                @include box-shadow($ctrl-inner-glow-color, 0, 0, 5px, true);
            }
        }

        .mstrmojo-SearchablePulldown-iconNode {
            &::after {
                background-position: $searchable-pulldown-icon-position;
            }
        }

        &.disabled {
            border-color: $searchable-pulldown-disabled-border-color;

            .mstrmojo-SearchablePulldown-inputNode {
                color: $ctrl-font-color-disabled;
            }
        }
    }
    // End SearchablePulldown base

    // Pulldown popup
    // TODO: Nikhil says don't use this!!!
    .mstrmojo-Pulldown-Popup {
        @include pulldown-popup;

        .mstrmojo-Pulldown-listItem {
            &:hover {
                color: $popup-font-color;
                background: $popuplist-background-hover;
            }

            &.selected {
                color: $popup-font-color;
                background: $popuplist-background-selected;
            }
        }
    }

    // Button Bar
    .mstrmojo-ui-ButtonBar {
        @include ctrl-inner-glow;
        @include linear-gradient($button-gradient-top-color, $button-gradient-bottom-color, false);

        border-color: $ctrl-border-strong;

        .item {
            border-left-color: $ctrl-border-strong;

            &:first-child {
                border-left-color: transparent;
            }

            &.selected {
                @include linear-gradient($buttonbar-selected-gradient-top-color, $buttonbar-selected-gradient-bottom-color, false);
            }
        }
    }

    // Buttons
    .mstrmojo-Button.simpleButton {
        @include ctrl-inner-glow;
        @include linear-gradient($button-gradient-top-color, $button-gradient-bottom-color, false);

        border-color: $ctrl-border;
    }

    // Preview Button
    &.mstrmojo-ui-PreviewButton,
    .mstrmojo-ui-PreviewButton {
        border-color: $ctrl-border;

        .btn {
            @include box-shadow($prvbtn-box-shadow, 0, 0, 6px, true);
        }

        .mstrmojo-PopupList {
            @include pulldown-popup;
            @include ctrl-popup-list-item;
        }

        &.mstrmojo-ui-ComboBox {
            .preview {
                @include box-shadow($combobox-box-shadow, 0, 0, 1px, true);

                background: $combobox-background;
            }

            .mstrmojo-PopupList {
                @include ctrl-popup-list;
            }
        }

        &.mstrmojo-ColorPickerBtn {
            .preview {
                border-color: $colorpicker-border;
            }

            .mstrmojo-ui-AdvColorPicker {
                @include ctrl-popup;
            }
        }
    }

    .mstrmojo-ui-AdvColorPicker {
        color: $popup-font-color;

        & > div {
            // Toolbar
            &.acpToolbar {
                @include ctrl-bottom-highlight;

                .acpColor {
                    border-color: $ctrl-border-strong;
                }
            }

            // Content
            &.acpContent {
                %label-option {
                    @include linear-gradient($colorpicker-nofill-gradient-top, $colorpicker-nofill-gradient-bottom);
                    border-color: $colorpicker-nofill-border;
                    color: $colorpicker-nofill-color;
                    text-shadow: 0px 1px 1px $colorpicker-nofill-textshadow;

                    -webkit-box-shadow: $colorpicker-nofill-shadow-outer 0 1px 1px, $colorpicker-nofill-shadow-inner 0 0 $colorpicker-nofill-shadow-inner-spread inset;
                    -moz-box-shadow: $colorpicker-nofill-shadow-outer 0 1px 1px, $colorpicker-nofill-shadow-inner 0 0 $colorpicker-nofill-shadow-inner-spread inset;
                    box-shadow: $colorpicker-nofill-shadow-outer 0 1px 1px, $colorpicker-nofill-shadow-inner 0 0 $colorpicker-nofill-shadow-inner-spread inset;

                    &:hover {
                        @include linear-gradient($colorpicker-nofill-hover-gradient-top,$colorpicker-nofill-hover-gradient-bottom);
                    }
                }

                // The Automatic Button
                .AutomaticOption {
                    @extend %label-option;
                }

                .mstrmojo-ui-ColorList {
                    .item {
                        border-color: $popup-background;

                        // The No Fill button.
                        &.noFill {
                            @extend %label-option;

                            &:hover {
                                border-color: $colorpicker-nofill-border;

                            }
                        }

                        &:hover {
                            border-color: #34ABEB;  // Need to reset this so it will override theme color.
                        }
                    }
                }

                .mstrmojo-ui-ButtonBar {
                    .item {
                        &.h > div {
                            background-position: $colorpicker-buttonbar-icon-position-h;
                        }

                        &.v > div {
                            background-position: $colorpicker-buttonbar-icon-position-v;
                        }
                    }
                }

                .mstrmojo-Button.simpleButton {
                    border-color: $ctrl-border-strong;
                }
            }

            &.acpButtons {
                @include ctrl-top-highlight;
            }
        }
    }

    // Checkbox
    .mstrmojo-ui-Checkbox {
        background-position: $check-box-bg-position;

        &.disabled {
            background-position: $check-box-disabled-bg-position;
        }

        &.checked {
            background-position: $check-box-checked-bg-position;

            &.disabled {
                background-position: $check-box-checked-disabled-bg-position;
            }

        }
    }

    .mstrmojo-CheckBox {
        > input[type="checkbox"]:not(:checked) + label:before {
            background-position: $check-box-bg-position;
        }

        > input[type="checkbox"]:checked + label:before {
            background-position: $check-box-checked-bg-position;
        }

        > input[type="checkbox"]:disabled + label:before {
            background-position: $check-box-disabled-bg-position;
        }

        > input[type="checkbox"]:checked:disabled + label:before {
            background-position: $check-box-checked-disabled-bg-position;
        }
    }

    // CheckList
    .mstrmojo-ui-CheckList {
        .item {
            background-position: $check-list-bg-position;

            &.selected {
                background-position: $check-list-checked-bg-position;
            }
        }

        &.radio .item {
            background-position: $check-list-radio-bg-position;

            &.selected {
                background-position: $check-list-radio-selected-bg-position;
            }
        }

        &.disabled .item {
            background-position: $check-list-disabled-bg-position;
            color: $check-list-disabled-item-font-color;

            &.selected {
                background-position: $check-list-checked-disabled-bg-position;
            }
        }

    }

    // TextBox
    .mstrmojo-TextBox {
        background: $text-background-color;
        border: 1px solid $ctrl-border;
        color: $ctrl-font-color;

        &.disabled {
            border-color: $ctrl-border-disabled;
            color: $ctrl-font-color-disabled;
            background-color: $text-background-color-disabled;
        }

        &.mstrmojo-TextBox-ErrValidation {
            border-color: #fabd29;      // Need to reset this so it will override theme color.
        }

        // Set the empty text color.
        &.mstrmojo-empty {
            color: $text-hint-color;
        }
    }

    .mstrmojo-ui-TextArea {
        background: $text-background-color;
    }

    // Label
    .mstrmojo-Label {
        &.disabled {
            color: $ctrl-font-color-disabled;
        }
    }

    // Highlights
    .vibase-top-highlight {
        @include ctrl-top-highlight;
    }

    .vibase-bottom-highlight {
        @include ctrl-bottom-highlight;
    }

    // Stepper
    .mstrmojo-ui-ctrl-Stepper {
        @include border-radius($ctrl-border-radius);

        border-color: $ctrl-border;

        .text {
            @include box-shadow($combobox-box-shadow, 0, 0, 1px, true);

            background: $text-background-color;
        }

        .title {
            background-color: $ctrl-border;
        }

        %ctrl-base-stepper-button {
            @include box-shadow($prvbtn-box-shadow, 0, 0, 6px, true);
            @include linear-gradient($button-gradient-top-color, $button-gradient-bottom-color, true);
        }

        .next {
            @extend %ctrl-base-stepper-button;

            border-bottom-color: $ctrl-border;

            &:before {
                border-bottom-color: $stepper-arrow-color;
            }
        }

        .prev {
            @extend %ctrl-base-stepper-button;

            &:before {
                border-top-color: $stepper-arrow-color;
            }
        }
    }

    // Wait Box
    .mstrmojo-Editor.mstrWaitBox {
        background-color: $wait-box-bgcolor;
        color: $wait-box-fontcolor;

        .mstrmojo-Editor-content {
            .mstrIcon-wait {
                background-image: $wait-box-bgimg;
            }
        }
    }

    // Character Group
    .mstrmojo-ui-EditCharacter {
        // Font Style
        .mstrmojo-ui-ButtonBar {
            .item {
                &.bold > div {
                    background-position: center $char-bold-bg-y;
                }

                &.italic > div {
                    background-position: center $char-italic-bg-y;
                }

                &.underline > div {
                    background-position: center $char-underline-bg-y;
                }

                &.strikeout > div {
                    background-position: center $char-strikeout-bg-y;
                }
            }
        }
    }

    .mstrmojo-ui-ToolbarPopup {
        background-color: $ctrl-background;
        border-color: $tb-popup-border;
    }

    // Calendar for datetext box
    &.mstrmojo-DateTextBox-calendar {

        .mstrmojo-Calendar {
            background-color: $calendar-bgcolor;
            color: $ctrl-font-color;

            @include box-shadow(rgba(0,0,0,$calendar-boxshadow-opacity), 0, 0, 6px, false);

            border: $calendar-border;

            .mstrmojo-Calendar-header,
            .mstrmojo-Calendar-timePart {
                background-color: $calendar-bgcolor;
                background-image: none;
                color: $calendar-fontcolor;
                font-weight: bold;
            }

            .mstrmojo-Calendar-timePart,
            .mstrmojo-Calendar-header,
            .mstrmojo-Calendar-body {
                border-bottom: $calendar-split-darkline-color 1px solid;
                @include box-shadow($calendar-split-highlightline-color, 0, 1px, 0);
            }

            .mstrmojo-Calendar-buttons {
                border-top: $calendar-split-highlightline-color 1px solid;
                @include box-shadow($calendar-split-darkline-color, 0, -1px, 0);
            }

            .mstrmojo-Calendar-body {

                .mstrmojo-Calendar-thead td {
                    background: transparent;
                }
            }

            .mstrmojo-Calendar-decrease,
            .mstrmojo-Calendar-increase {
                background: transparent url(vi/images/menu_icons.png) $calendar-arrow-bg-position no-repeat;
                &:hover {
                    background-position: $calendar-arrow-hovor-bg-position;
                }
            }

            .mstrmojo-Calendar-day-pre,
            .mstrmojo-Calendar-day-cur,
            .mstrmojo-Calendar-day-next {
                background-color: $calendar-bgcolor;
                background-image: none;
                color: $calendar-fontcolor;
                border-color: $calendar-bgcolor;

                &.selected {
                    background-color: #34abeb;
                    color: #ffffff;

                    &.disabled{
                        color: #4a4a4a;
                    }
                }

                &:hover {
                    background-color: $calendar-hover-color;
                    border: $calendar-hover-border;
                }
            }
        }
    }

  .mstrmojo-ui-MenuEditor {
    .mstrmojo-ui-Pulldown {
      %menu-pulldown-base {
        background-color: $pulldown-popup-bgcolor;
        border: 1px solid $puldown-popup-border;
      }

      .mstrmojo-ui-Pulldown-text {
        @extend %menu-pulldown-base;
      }

      .mstrmojo-PopupList {
        @extend %menu-pulldown-base;
      }
    }
  }

}

@mixin ctrl-tooltip {
    &.mstrmojo-Tooltip {
        &.vi-regular,
        &.vi-warning {
            .mstrmojo-Tooltip-arrow {
                &:before,
                &:after {
                    opacity: $ctrl-tooltip-arrow-opacity;
                }
            }

            &.vi-tooltip-A .mstrmojo-Tooltip-arrow {
                &:before {
                    border-bottom-color: $ctrl-tooltip-border-color;
                }
                &:after {
                    border-bottom-color: $ctrl-tooltip-bg-color;
                }
            }

            &.vi-tooltip-V .mstrmojo-Tooltip-arrow {
                &:before {
                    border-top-color: $ctrl-tooltip-border-color;
                }
                &:after {
                    border-top-color: $ctrl-tooltip-bg-color;
                }
            }

            &.vi-tooltip-C .mstrmojo-Tooltip-arrow {
                &:before {
                    border-right-color: $ctrl-tooltip-border-color;
                }
                &:after {
                    border-right-color: $ctrl-tooltip-bg-color;
                }
            }

            &.vi-tooltip-D .mstrmojo-Tooltip-arrow {
                &:before {
                    border-left-color: $ctrl-tooltip-border-color;
                }
                &:after {
                    border-left-color: $ctrl-tooltip-bg-color;
                }
            }

            .mstrmojo-Tooltip-contentWrapper {
                background-color: $ctrl-tooltip-bg-color;
                border-color: $ctrl-tooltip-border-color;

                .mstrmojo-Tooltip-content {
                    color: $ctrl-tooltip-color;
                }
            }
        }
    }
}

@mixin ctrl-gallery-tooltip {
    &.viGallery-tooltip {
        .vi-tooltip-icn {
            background-color: $ctrl-gallery-tooltip-icn-bg;
            border-color: $ctrl-gallery-tooltip-icn-border-color;
            background-image: $ctrl-gallery-tooltip-icn-bgimg;
        }
    }
}
/** End ControlBase **/