.mstrmojo-wh-Panel.DBConnections {
  border-bottom-color: #ddd;
  border-width: 1px;
  background-color: #f6f6f6;
  margin-top: 2px;

  .mstrmojo-wh-pn-title {
    background-position: 7px 11px;
  }
}