/* line 258, DIClipboard/*.png */
.DIClipboard-sprite, .DIClipboard-add_col, .DIClipboard-add_col_click, .DIClipboard-add_col_disabled, .DIClipboard-add_row, .DIClipboard-add_row_click, .DIClipboard-add_row_disabled, .DIClipboard-clear_grid, .DIClipboard-clear_grid_click, .DIClipboard-clear_grid_disabled, .DIClipboard-delete_col, .DIClipboard-delete_col_click, .DIClipboard-delete_col_disabled, .DIClipboard-delete_row, .DIClipboard-delete_row_click, .DIClipboard-delete_row_disabled, .DIClipboard-insert_col, .DIClipboard-insert_col_click, .DIClipboard-insert_col_disabled, .DIClipboard-insert_row, .DIClipboard-insert_row_click, .DIClipboard-insert_row_disabled {
  background: url('images/DI/DIClipboard-s826d21c78b.png') no-repeat;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_col {
  background-position: 0 -437px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_col:hover, .DIClipboard-add_col.add_col_hover, .DIClipboard-add_col.add_col-hover {
  background-position: 0 -69px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_col_click {
  background-position: 0 -299px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_col_disabled {
  background-position: 0 -460px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_row {
  background-position: 0 -598px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_row:hover, .DIClipboard-add_row.add_row_hover, .DIClipboard-add_row.add_row-hover {
  background-position: 0 -92px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_row_click {
  background-position: 0 -345px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-add_row_disabled {
  background-position: 0 -529px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-clear_grid {
  background-position: 0 -621px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-clear_grid:hover, .DIClipboard-clear_grid.clear_grid_hover, .DIClipboard-clear_grid.clear_grid-hover {
  background-position: 0 -138px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-clear_grid_click {
  background-position: 0 -322px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-clear_grid_disabled {
  background-position: 0 -552px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_col {
  background-position: 0 -483px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_col:hover, .DIClipboard-delete_col.delete_col_hover, .DIClipboard-delete_col.delete_col-hover {
  background-position: 0 -46px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_col_click {
  background-position: 0 -207px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_col_disabled {
  background-position: 0 -391px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_row {
  background-position: 0 -575px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_row:hover, .DIClipboard-delete_row.delete_row_hover, .DIClipboard-delete_row.delete_row-hover {
  background-position: 0 -115px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_row_click {
  background-position: 0 -230px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-delete_row_disabled {
  background-position: 0 -506px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_col {
  background-position: 0 -368px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_col:hover, .DIClipboard-insert_col.insert_col_hover, .DIClipboard-insert_col.insert_col-hover {
  background-position: 0 0;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_col_click {
  background-position: 0 -161px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_col_disabled {
  background-position: 0 -276px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_row {
  background-position: 0 -414px;
}
/* line 43, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_row:hover, .DIClipboard-insert_row.insert_row_hover, .DIClipboard-insert_row.insert_row-hover {
  background-position: 0 -23px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_row_click {
  background-position: 0 -184px;
}

/* line 60, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.DIClipboard-insert_row_disabled {
  background-position: 0 -253px;
}
