.mstrmojo-qb-mapping-title {
//  white-space: normal;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #333333;
}
.mstrmojo-qb-mapping-georole {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #4E4E4E;
  white-space: normal;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.mstrmojo-di-mapping-driveAttribute {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #4E4E4E;
  .mstrmojo-Label {
    white-space: normal;
  }
}
.geoRoleMenu.mstrmojo-ui-MenuEditor {
  select{
    width: 135px;
  }
}
.mstrmojo-qb-geolist {
  margin-top: 10px;
}

.mstrmojo-qb-georole-itemtext:hover {
  background-color: rgba(27, 27, 27, 0.42);
}

.mstrmojo-qb-georole-itemtext {
  white-space: nowrap;
  line-height: 18px;
  padding: 1px 0px;
}

.mstrmojo-qb-georole .mstrmojo-qb-georole-itemtext img{
  width: 13px;
  height: 13px;
}

.mstrmojo-qb-georole.selected .mstrmojo-qb-georole-itemtext img{
  background: url("images/DI/geo-selection-dot.png") no-repeat 1px 3px scroll transparent;
}

.mstrmojo-qb-geolist .mstrmojo-itemwrap:first-child {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

// DE26363
.mstrmojo-qb-geolist {
  .mstrmojo-PopupList.ctrl-popup-list {
    width: auto;
    min-width: 100%;
  }
}

.mstrmojo-qb-geolist.showShapeKey{
  max-height: 280px;
  overflow:auto;
}

.mstrmojo-qb-georole.shapeKey,
.mstrmojo-qb-georole-itemcontent {
  display: none;
}

.mstrmojo-qb-georole-button {
  width: 46px;
  float:right;
  margin-left:10px;
  border: 1px solid gray;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.mstrmojo-qb-georole-button .mstrmojo-Button-text {
  text-align: center;
}

.showShapeKey .mstrmojo-qb-georole.shapeKey {
  display: block;
}

.showShapeKey .mstrmojo-qb-georole.other {
  display: none;
}

.mstrmojo-qb-georole.selected .mstrmojo-qb-georole-itemcontent{
  display:block;
}

.mstrmojo-qb-georole-checkbox {
  background: url("images/editor-button.png") no-repeat scroll 0 -280px transparent;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.mstrmojo-qb-georole-attribute.selected .mstrmojo-qb-georole-checkbox{
  background: url("images/editor-button.png") no-repeat scroll 0 -299px transparent;
}

.mstrmojo-qb-georole-attribute-box {
  border:1px solid gray;
  margin:1px;
  padding:2px 4px;
}