.mstrmojo-di-partitiongroup-dialog {
  width: 400px;
  .partitiongroup-list {
    margin-left: 40px;
    max-height: 120px;
    overflow: auto;
  }
  .mstrmojo-Editor-content {
    padding: 15px 18px;
    font-family: Arial;
  }
}