.mstrmojo-di-DISearchTableBox {
  // float: right;
  position: relative;
  margin: 0 auto;
  width: 200px;

  .mstrmojo-HBox {
    width: 100%;
    .mstrmojo-di-tb-inputBox {
      width: 177px;
    }
  }

  .mstrmojo-SimpleTree.mstrmojo-di-searchTableTree {
    display: none;

    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #9B9B9B;
    background-color: rgba(237, 237, 237, 0.96);
    margin-top: 2px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 10px 0px;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 0 10px 0px;
    box-shadow: rgba(0,0,0,0.25) 0 0 10px 0px;

    box-sizing: border-box;

    li .item {
      &.tp12 {
        background-image: url(images/DI/icon_att.png);
      }

      &.tp4 {
        background-image: url(images/DI/icon_metric.png);
      }
    }

    li[level="1"] .item.tp15 {
      margin-left: 12px;
    }

    li.selected > .item.tp15 {
      font-weight: inherit;
      color: inherit;
      background-color: #CECECE;
    }

    .item.tp15:hover {
      background-color: #DADADA;
    }

  }
}