.mstrmojo-di-sources {
  padding-top: 15px;
}

.mstrmojo-di-source-content {
  width: 100%;
  height: 456px;
  overflow-y: auto;
  margin: 0 auto;
}

.mstrmojo-di-source-title {
  font: 16px arial;
  font-weight: bold;
  color: #777777;
  margin: 15px 25px 13px;;
}

.mstrmojo-di-source-button {
  background: url(images/DI/tool_suggest.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  float: right;
  margin: 15px 0;
  padding-right: 14px;
  border-right: solid 2px #C6E5FC;
}

.mstrmojo-di-source-direct-access-container {
  margin-left: 18px;
  float: left;
  // style for new ButtonBar list
  .mstrmojo-ui-ButtonBar {
    .item {
      padding: 0 12px;
      min-width: 30px;
      font-size: 8pt;
      line-height: 22px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mstrmojo-WebButton {
    border-radius: 3px;
    margin-right: 10px;
  }
}

.mstrmojo-di-source-direct-access {
  float: left;
  min-width: 30px;
  background-color: #E2E2E2;
  color: #000000;
  font-size: 8pt;
  line-height: 22px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mstrmojo-di-source-direct-access.select {
  background-color: #A2A2A2;
}

.mstrmojo-ui-ButtonBar.mstrmojo-di-source-view {
  float: right;
  margin-right: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  width: 66px;
  .item {
    > div {
      height: 100%;
      background: transparent url(vi/images/menu_icons.png) center 0 no-repeat;
    }

    &.grid > div {
      background-position: -410px -86px;
    }
    &.list > div {
      background-position: -440px -86px;
    }
  }
}

.mstrmojo-di-source-view-button {
  background-repeat: no-repeat;
  width: 33px;
  height: 22px;
  float: right;

  &.list {
    background: url(images/DI/v_list.png);
    margin-right: 32px;
  }
  &.list.selected {
    background: url(images/DI/v_list_click.png);
  }
  &.grid {
    background: url(images/DI/v_thumbnail.png);
  }
  &.grid.selected {
    background: url(images/DI/v_thumbnail_click.png);
  }
}

.mstrmojo-ui-SearchBox.mstrmojo-di-source-search {
  width: 260px;
  height: 22px;
  margin: 0 6px 0 0px;
  float: right;
  border: 1px solid #B5B5B5;
  border-radius: 3px;
  line-height: 20px;
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);

  .mstrmojo-ui-sb-input {
    width: 220px;
  }
}

.mstrmojo-di-source-search-label {
  float: right;
  line-height: 24px;
  cursor: pointer;
}

.mstrmojo-di-source-search-button {
  float: right;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #505050;
  margin-right: 200px;
  margin-top: 9px;
}

.mstrmojo-di-search-tags {
  float: right;
  position: absolute;
  top: 120px;
  right: 19px;
  width: 187px;
  max-height: 370px;
  overflow: hidden;
  &:hover{
    overflow-y: auto;
  }
  .mstrmojo-Label {
    font-family: Arial;
    font-size: 12px;
  }
}

//mizhang TQMS 947525
.mstrmojo-di-search-tag {
  width: 172px;
  height: 26px;
  border: 1px solid #aeddf7;
  background-color: #dff1fc;
  border-radius: 2px;
  margin-top: 5px;
  .mstrmojo-di-search-tag-name {
    margin: 0 9px;
    line-height: 26px;
    float: left;
    font-family: Arial Regular, Tahoma, Arial, Verdana, 'Microsoft Sans Serif';
    color: #444649;
  }
}

.mstrmojo-di-tag-delete-button {
  background: url(images/DI/close.png) no-repeat;
  height: 10px; //mizhang TQMS 947525
  width: 10px;
  float: right;
  margin: 8px 9px;
}

.mstrmojo-di-sourceList {
  margin-left: 18px;
  top: 15px;
  position: relative;
  width: 992px;
  tbody {
    //overflow-x: hidden;
    //overflow-y: auto; // TQMS 979221: for #1, when toggle hover and scroll bar, the text may disappear, fixed by move overflow-y: auto from hover to here
    @include scrollBar();
    overflow: auto;
    //overflow-y: auto;
    height: 400px; //YGUO TQMS-996275
    float: left;
    width: 988px;
  }
  .mstrmojo-Label {
    border-radius: 2px;
    cursor: pointer;
    width: 154px;
    padding: 0 9px;
    margin-right: 20px;
    height: 22px;
    line-height: 22px;
    &:hover {
      background-color: #dadada;
    }
    &:active {
      background-color: #cecece;
    }
  }
  td:nth-child(5) .mstrmojo-Label {
    margin-right: 11px; //space for scrollbar
  }
  .mstrmojo-Label.initial {
    font-weight: bold;
    cursor: default;
  }
}
.mstrmojo-di-sourceList.narrow {
  td:nth-child(4) .mstrmojo-Label {
    margin-right: 11px; //space for scrollbar
  }
}

.mstrmojo-di-sourceGrid {
  clear: right;
  display: block;
  margin: 0px 4px 0px 18px;
  margin-top: 38px;
  position: absolute;
  height: 380px;
  @include scrollBar();
  overflow: hidden;
  &:hover {
    overflow-y: scroll;
  }
}

.mstrmojo-di-source-datasets-box {
  width: 95%;
  margin: 0px 18px 12px 13px;
//  border-bottom: 1px solid $divider-line-dark;

  .dataset-box-label {
    float: left;
    margin: 3px 0px 5px 5px;
    height: 20px;
    line-height: 20px;
  }

  .mstrmojo-Pulldown {
    float: left;
    width: 200px;
  }

  .mstrmojo-ui-Pulldown {
    float: left;
    width: 200px;
    margin-left: 5px;
  }

}

.mstrmojo-di-homepage-editor.modal.mstrmojo-Editor > .mstrmojo-Editor-buttons {
  padding: 0;
}

.mstrmojo-di-homepage-editor.modal .scroll-container > .mstrmojo-Editor-content {
  padding: 0;

}

.mstrmojo-di-homepage-editor.modal.mstrmojo-Editor > .mstrmojo-Editor-content {
  padding: 0;
}

.mstrmojo-di-homepage-editor.modal.mstrmojo-Editor > .mstrmojo-Editor-content:after {
  bottom: 0;
}

.searchTagMenu.mstrmojo-ui-MenuEditor {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.88);
  background-color: rgba(63, 63, 63, 0.96);
  border: 1px solid rgba(155, 155, 155, 0.6);
  border-radius: 2px;
  height: auto;

  .me-content {
    height: auto;
    overflow-y: auto;
    padding: 9px;
    padding-bottom: 0px;
    border-bottom: 1px solid #303030;
    input[type="checkbox"] {
      margin: 3px 5px 3px 0px;
    }

    .mstrmojo-ui-CheckList .item {
      background-position: -6px -241px;
    }
    .mstrmojo-ui-CheckList .item.selected {
      background-position: -6px -217px;
    }
  }
  .me-buttons {
    height: 28px;
    padding: 9px 9px 9px 9px;
    border-top: 1px solid #4C4C4C;
    overflow: hidden;
    min-width: 145px;
    white-space: nowrap;
  }
}