.mstrmojo-di-mapping-title {
  white-space: normal;
}

.mstrmojo-di-mapping-time {
  margin-top: 10px;
}

.mstrmojo-di-mapping-time .mstrmojo-TreeNode-state.leaf {
  display: none;
}

.mstrmojo-qb-mapping-time .mstrmojo-itemwrap:first-child {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
  margin-bottom: 4px;
}