.mstrmojo-di-table-sources {
  background-color: white;
}

.mstrmojo-di-ts-close-btn {
  text-align: right;
  text-decoration: underline;
  font-size: 13px;
}

.mstrmojo-di-tablesources-text {
  margin-top: 75px;
  text-align: center;
}

.mstrmojo-di-table-sources-icons {
  height: 90px;
  width: 88px;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
}

.mstrmojo-di-table-sources-icons.File {
  background-image: url(images/DI/file.png);
}

.mstrmojo-di-table-sources-icons.Database {
  background-image: url(images/DI/database.png);
}

.mstrmojo-di-table-sources-icons.cube {
  background-image: url(images/DI/database.png);
}

.mstrmojo-di-table-sources-icons.SFA {
  background-image: url(images/DI/sales_disabled.png);
}

.mstrmojo-di-table-sources-icons.SF {
  background-image: url(images/DI/salesforce.png);
}

.mstrmojo-di-table-sources-icons.analytics {
  background-image: url(images/DI/analytics.png);
}

.mstrmojo-di-table-sources-icons.bigQuery {
  background-image: url(images/DI/google-bigquery.png);
}

.mstrmojo-di-table-sources-icons.twitter {
  background-image: url(images/DI/twitter.png);
}

.mstrmojo-di-table-sources-icons.facebook {
  background-image: url(images/DI/facebook.png);
}

.mstrmojo-di-table-sources-icons.gdrive {
  background-image: url(images/DI/gdrive.png);
}

.mstrmojo-di-table-sources-icons.dropbox {
  background-image: url(images/DI/dropbox.png);
}

.mstrmojo-di-table-sources-icons.suggest {
  background-image: url(images/DI/suggest-a-source.png);
  background-position: -1px -1px;
}

.mstrmojo-di-table-sources-icons.msDynamics {
  background-image: url(images/DI/ms-dynamics.png);
}

.mstrmojo-di-table-sources-icons.netsuit {
  background-image: url(images/DI/netsuit.png);
}

.mstrmojo-di-table-sources-icons.Eloqua {
  background-image: url(images/DI/eloqua.png);
}

.mstrmojo-di-table-sources-icons.OracleCRM {
  background-image: url(images/DI/oracle.png);
}

.mstrmojo-di-table-sources-icons.SugarCRM {
  background-image: url(images/DI/sugar-crm.png);
}

.mstrmojo-di-table-sources-icons.Zendesk {
  background-image: url(images/DI/zendesk.png);
}
