@import "../global-mixins";

/** ScrollableTextArea - BEGIN **/
.mstrmojo-ui-TextArea {
    border: 1px solid #A9A9A9;
    overflow: hidden;

    // Set up the CSS for the text area's scroll container.
    .ta-sc {
        height: 100%;
        width: 100%;
        overflow: hidden;

        // The CSS for the actual text area object.
        textarea {
            @include box-shadow(transparent);

            background: rgba(0, 0, 0, 0);
            border: 0;
            display: block;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
        }

        &.mstrmojo-sb-show-default {
            overflow: auto;
        }
    }
}
/** ScrollableTextArea - END **/