// Import the base global partial from the SASS root folder.
@import '../global';

// Image Path Locations relative to sass/bundles folder
$vi-img-path: 'vi/images';
$vi-menu-icons: '#{$vi-img-path}/menu_icons.png';

// VI - Global Colors variables
$vi-color-font-link: #23A3D3;