@import '../vi-global';

/** Calculation Editor**/
.Calculation-MenuEditor {
  .mstrmojo-ui-Pulldown.mstrmojo-ui-SearchablePulldown {
      width: 175px;
      &.invalid {
          .mstrmojo-ui-Pulldown-text {
              border-color: #EB815C;
          }
      }
  }

  .mstrmojo-ButtonListHoriz .mstrmojo-ButtonItem {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(#{$vi-img-path}/menu_icons.png);
    background-clip: padding-box;
    margin-top: 0;
    font: 20pt "times new roman";
    color: #F5F5F5;
    border: 2px inset transparent;
    padding: 0;

    &.operator-plus {
      background-position: -206px -195px;
    }

    &.operator-plus:hover {
      background-position: -206px -225px;
    }

    &.operator-plus.selected {
      background-position: -206px -255px;
    }

    &.operator-minus {
      background-position: -236px -195px;
    }

    &.operator-minus:hover {
      background-position: -236px -225px;
    }

    &.operator-minus.selected {
      background-position: -236px -255px;
    }

    &.operator-multiply {
      background-position: -266px -195px;
    }

    &.operator-multiply:hover {
      background-position: -266px -225px;
    }

    &.operator-multiply.selected {
      background-position: -266px -255px;
    }

    &.operator-divide {
      background-position: -296px -195px;
    }

    &.operator-divide:hover {
      background-position: -296px -225px;
    }

    &.operator-divide.selected {
      background-position: -296px -255px;
    }

    &.operator-percent-diff {
      // TODO: this is just place holder, once UED provides the icon, please replace the following
      background: transparent;
      color: rgb(183,183,183);
      font-size: 20px;
      text-shadow: black 0px 1px 1px;
      line-height: 20px;
      min-width: 0 !important;
      width: 25px;
      height: 22px;
      border: 1px solid transparent;
      border-radius: 3px;
      margin: 0px 6px;
    }

    &.operator-percent-diff:hover {
      // TODO: this is just place holder, once UED provides the icon, please replace the following
      background: rgb(53,54,57);
      border-color: rgb(29,29,29);
    }

    &.operator-percent-diff.selected {
      // TODO: this is just place holder, once UED provides the icon, please replace the following
      background: transparent;
      color: rgb(19, 170, 228);
      border-color: transparent;
    }
  }
}
/**End Calculation Editor**/

/**Rank/Moving/Running/PercentOf Editor**/
.mstrmojo-ui-MenuEditor {
  &.MovingTotal-MenuEditor,
  &.RunningTotal-MenuEditor,
  &.NewRankMetric-MenuEditor,
  &.RelativeReference-MenuEditor {
    .me-content {
      .mstrmojo-Box {
        height: 22px;
        padding: 4px 0 4px 0;
        position: relative;

        .mstrmojo-Label {
          float: left;
          margin-right: 105px;
        }

        .mstrmojo-ui-Pulldown {
          position: absolute;
          right: 0;
          width: 100px;
          margin: 0;
        }
      }
    }
  }
}

.MovingTotal-MenuEditor,
.RunningTotal-MenuEditor {
  .mstrmojo-ui-Pulldown {
    margin-top: 4px;
    margin-bottom: 5px;
    width: 100%;
  }
}

.MovingTotal-MenuEditor {

  .mstrmojo-HBox {
    height: 30px;
    .mstrmojo-Label {
      &.WinSzPrefix {
        padding-right: 5px;
      }

      &.WinSzSuffix {
        padding-left: 5px;
      }
    }
    INPUT {
      width: 30px;
      margin: 0;
    }
  }
}
/**End Rank/Moving/Running/PercentOf Editor**/

/** BEGIN: Object Picker **/
.mstrmojo-ui-Menu.VIRadioGroupMenu, .ConfDataType-VIRadioGroupMenu {
  & > DIV{
    // Set Padding for the items within a menu that contains radio group
    & > .mstrmojo-ui-Menu-item {
      padding-left: 27px;
    }
  }

  .item {
    &.radio {
      &.checkMark {
        &::before {
          background: rgba(0, 0, 0, 0);
          background-position: 0px 0px;
        }

        &.on::before {
          background: rgba(0, 0, 0, 0) url(images/checkbox_sprite.png) -7px -414px no-repeat;
        }
      }

      &.on {
        .micn {
          // Clear micn icon
          background: transparent none 2px 2px no-repeat;
        }
      }
    }
  }
}
/** END: Object Picker **/

/** BEGIN: Mark As GEO Role **/

.MarkGeoRole-MenuEditor.mstrmojo-ui-MenuEditor {
	.me-content {
		padding: 0;
		& > div {
			width: 145px;
			white-space: normal;
			margin: 9px;
		}
		.mstrmojo-ToolSeparator {
			width: 163px;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/** END: Mark As GEO Role **/

/** BEGIN: Create Time Attribute **/

.mstrmojo-ui-MenuEditor.CreateTimeAttribute-MenuEditor {
  .me-content {
    padding: 5px 9px;
    .mstrmojo-ui-CheckList {
      left: -1px;
      .item {
        height: 22px;
        background-position: -6px -241px;
      }

      .selected.item {
        background-position: -6px -217px;
      }
    }
  }
}

/** END: Create Time Attribute **/

/** BEGIN: Base On Calculation for NDE **/
.mstrmojo-ui-MenuEditor.base-on-calculation-editor {
  .me-content {
    padding: 0;
    >.mstrmojo-Label {
      padding: 5px 9px 0 9px;
    }
    .mstrmojo-ui-Pulldown {
      margin: 0 9px 0 9px;
    }
    .mstrmojo-ListBase {
//      padding: 0 9px 0 9px;
      margin-top: 9px;
      border-top: solid 1px #4E4E4E;
      @include box-shadow(#333333, 0, -1px, 0);
    }
  }
}
/** END: Base On Calculation for NDE **/

/** BEGIN: Configure Data Type **/
.mstrmojo-ui-MenuEditor.ConfDataType-MenuEditor .me-content {
    & > .mstrmojo-ui-Pulldown {
        margin-top: 10px;
    }

    & > .mstrmojo-ui-SearchablePulldown {
        margin-top: 11px;
    }

    .ScrollableContainer-content {
        height: 250px;
    }

    .mstrmojo-HBox {
        .mstrmojo-Label {
            width: 70px;
        }
        .mstrmojo-ui-Pulldown, .mstrmojo-ui-SearchablePulldown {
            width: 100px;
        }
    }

    .mstrmojo-HBox.func-input {
        margin-top: 22px;
    }

    .mstrmojo-HBox.pattern-input {
        margin-top: 11px;
        .mstrmojo-Label {
            color: #858585;
        }
    }

    .mstrmojo-ui-SearchablePulldown .mstrmojo-ui-Pulldown-text:after {
        display: none;
    }
    .advancedLabel {
        span {
            color: #cdcdcd;
            float: right;
            line-height: 8pt;
            &:before {
                content: "";
                display: block;
                height: 8pt;
                width: 8pt;
                float: left;
                margin-right: 5px;
                background: url(#{$vi-img-path}/arrow-right.png) no-repeat center center;
            }
        }
        margin-top: 14px;
        height: 8pt;
    }
    .advancedLabel.expanded span:before {
        background: url(#{$vi-img-path}/arrow-up.png) no-repeat center center;
    }
}
/** END: Configure Data Type **/

.mstrmojo-ui-MenuEditor {
    &.replaceReference,
    &.mapAttribute, {
        .me-content {
            padding-left: 0;
            padding-right: 0;
            border: 0;

            .mstrmojo-ui-ScrollableContainer {
                overflow: hidden;
                .ScrollableContainer-content {
                    max-height: 350px;
                    .mstrmojo-VIUnitList {
                        .unit {
                            margin-left: 0;
                            border-left: none;
                            padding-left: 25px;
                            padding-right: 9px;

                            &:before {
                                left: 9px;
                            }

                            &:hover {
                                background-color: rgba(27, 27, 27, 0.42);
                            }
                        }
                    }
                }
            }
        }

        .me-buttons {
            display: none;
        }
    }
}
