@import '../vi-global';

.mstrmojo-ViewDataDialog{

    z-index: 9;

    .mstrmojo-Editor-button {
        margin: 0 !important;
    }

    .mstrmojo-toolBox{
        position: relative;
        height: 22px;
        margin: 16px 0 8px 0;

        .mstrmojo-VIToolbar{
            position: absolute;
            left: 0;
            bottom: 0;

            .open{
                white-space: nowrap;
            }

        }

        .mstrmojo-export-type{
            width: 94px;
            height: 20px;
            position: absolute;
            right: 101px;
            box-shadow: none;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            border: 1px solid transparent;

            .mstrmojo-ui-Pulldown-text{
                background: url(#{$vi-img-path}/pulldown-sprite.png) no-repeat 100% 0%;
                border: none;
                box-shadow: none;
                cursor: pointer;
                color: #444649;
                text-align: center;
            }

            &:hover{
                background-color: #e4e4e5;
                border-color: #b0b1b2;
            }

            &:active{
                background-color: #dbdbdc;
                border-color: #b0b1b2;
                .mstrmojo-ui-Pulldown-text{
                    color: #007ebe;
                }
            }

            .mstrmojo-PopupList{
                background-color: rgba(63, 63, 63, .96);
                border: 1px solid rgba(80,80,80,0.6);
                @include box-shadow(rgba(0, 0, 0, 0.55), 0, 0, 10px);
                .item{
                    color: #d7d7d7;
                    &.selected{
                        background-color: initial;
                    }
                    &:hover{
                        background-color: rgba(50, 50, 50, .96) !important;
                    }
                }
            }
        }

        .mstrmojo-addGridButton{
            position: absolute;
            right: 0px;
            width: 94px;
            height: 20px;
            cursor: pointer;
            .mstrmojo-Button-text{
                line-height: 20px;
            }
        }

        .mstrmojo-rowcount{
            position: absolute;
            right: 202px;
            height: 22px;
            line-height: 22px;

          &.no-export {
            right: 101px;
          }
        }
    }

    .mstrmojo-VIToolbar{
        padding-left: 0px;

        .add {
            position: relative;
            width: 20px;
            height: 20px;
            min-width: 20px;
            overflow: visible;
            font-size: 0px;
            line-height: 20px;
            @include box-shadow(#ffffff, 0, 0, 4px, true);

            .me-content{
                max-height: 308px;
                overflow-y: auto;
                padding : 5px 9px;
            }

            .mstrmojo-ui-MenuEditor{
                top: 25px !important;
                font-size: 11px;
            }
        }
        .add:not(.disabled):active {
            @include box-shadow(rgba(99, 99, 99, 0.5), 0, 0, 2px, true);
        }
        .add:before {
            content: "";
            position: absolute;
            background: transparent url(#{$vi-img-path}/menu_icons.png) -90px 0px no-repeat;
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .mstrmojo-Editor-title{
        color: #444649;
        padding-left: 11px;
        line-height: 25px;
    }

    .mstrmojo-Editor-button{
        padding: 0 !important;
    }

    .mstrmojo-gridBox{
        position: relative;
        padding: 0 0 16px 0;
        overflow: hidden;

        .mstrmojo-Xtab {
            position: relative;
            background-color: white;
            border: 1px solid #ccc;
            overflow: hidden;
            min-width: 605px;

            tr {
                height: 20px;
                line-height: 20px;
            }

            .hl {
                text-decoration: initial;
            }

            .cn-curtain {
                background: none;
                background-color: rgba(243, 243, 244, 0.95) !important;
                color: #444649;
                font-size: 8pt;
                font-family: arial;
                height: 24px;
                line-height: 24px;
                font-weight: normal;
                border-bottom: 1px solid #c0c0c0;
                white-space: nowrap;
                border-top-width: 0;
            }

            .mstrmojo-XtabZone {
                table > tbody > tr td {
                    background-color: transparent !important;
                    border-width: 1px 0;
                    padding: 1.0pt 5.0pt;
                    vertical-align: middle;
                    font-family: Arial, HelveticaNeue;
                    font-size: 11px;
                    color: #4c4c4c;
                    border-color: #c8c8c8;
                    border-style: solid;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: normal;
                    white-space: nowrap;
                }

                table > tbody > tr > td:last-child {
                    border-right-width: 1px;
                }

                table > tbody:not([n]) > tr:first-child td {
                    @extend .cn-curtain;
                }

                .xtabSel {
                    &.nie:after {//not IE, the pseudo :after element doesnt seem to use the whole height of a rowspan'd cell
                        border: none;
                    }
                    &.ie{//just for IE
                        border: none;
                    }
                }
            }

            .mstrmojo-Xtab-content {
                border: none !important;
            }
        }

        td[r='0'].asc{
            background: rgba(243,243,244,0.95) url(#{$mojo-img-path}/arrow_blk_up_5x7.gif) 3px center no-repeat !important;
            padding-left: 13px !important;
        }

        td[r='0'].desc{
            background: rgba(243,243,244,0.95) url(#{$mojo-img-path}/arrow_blk_down_5x7.gif) 3px center no-repeat !important;
            padding-left: 13px !important;
        }

        tr.selected {
            background-color: rgba(0, 163, 255, 0.24) !important;
        }

    }

    .hiddenArea {
        opacity: 0;
        position: absolute;
    }
    .exportPDFLabel,
    .exportExcelLabel{
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    .exportPDFLabel:hover,
    .exportExcelLabel:hover{
        text-decoration: underline;
    }

    .exportPDFLabel{
        bottom: 15px;
    }

    .mstrmojo-VIPanel-titlebar {
        display: table;
    }

    .mstrmojo-VITitleBar.small {
        display: table-row !important;

        & > DIV {
            float: none;
        }

        .left-toolbar {
            display: table-cell;
            width: auto;

            .mstrmojo-Image {
                background-position: 2px -195px;
                margin: 0;
            }
        }

        &.collapsed{
            .left-toolbar {
                .mstrmojo-Image {
                    background-position: 2px -225px;
                }
            }
        }

        .title-text {
            display: table-cell;
            width: 100%;

            .mstrmojo-EditableLabel{
                line-height : 22px;
            }
        }

        .right-toolbar {
            display: table-cell;
            width: auto;

            .mstrmojo-VITitleToolbar {
                margin: 0;
            }
        }
    }

}