/** BEGIN: AdvancedColorPickerPopup **/
.mstrmojo-ui-AdvColorPickerPopup {
    border: 1px solid #b5b5b5;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}
/** END: AdvancedColorPickerPopup **/
