@import '../../../vi/vi-global';

.mstrmojo-ot-prefs-LoginEditor {
    width: 300px;

    .mstrmojo-Editor-content {
        .login-title {
            @include ellipsis-text;
        }

        .login-title,
        input {
            margin: 10px 0;
            width: 100%;
        }
    }
}
.mstrmojo-Tooltip.loginEditorTooltip{
    z-index: 999999;
}