.mstrmojo-di-credentials-dialog {
  .datasets-list{
    border-style: solid;
    margin: 15px 8px;
    border-width: 1px;
    border-color: #ccc;
    border-bottom-width: 0;
    max-height: 500px;
    min-width: 500px;
    overflow-y: auto;
    .mstrmojo-TreeNode-div {
      white-space: nowrap;
      line-height: 25px;
      border-bottom: solid #ccc 1px;
      background-color: #eeeeee;
      .mstrmojo-TreeNode-state {
        .opened, .closed {
          background-image: url(images/arrows.gif);
          background-position: -16px top;
          margin: 3px;
        }
      }
    }
    .mstrmojo-TreeNode-itemsContainer {
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }
    .dataset-table{
      height: 25px;
      padding: 3px 5px;
      border-bottom: solid #ccc 1px;
      .dataset-table-name {
        float:left;
        padding:5px 5px 5px 10px;
      }
      .table-font-credentials-not-fetched{
        color: #aaa;
      }
      .dataset-table-status {
        width: 15px;
        height: 15px;
        float: left;
        padding: 6px 0 0 30px;
        .finished {
          background: url(images/metric-editor.png) -123px -180px no-repeat;
          height: inherit;
        }
        .warning {
          background: url(images/metric-editor.png) -100px -180px no-repeat;
          height: inherit;
        }
        .waiting {
          background: url("images/circle-loader.gif") no-repeat scroll center center;
          height: inherit;
        }
      }
      .button-font-input{
        color: #FF0000;
      }
    }
  }
}
